<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_400200_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{738,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,0},{738,1000}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_400200_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,803},{98,58}}</string>
                <key>offset</key>
                <string>{-15,310}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,161},{98,58}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_400200_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,741},{100,68}}</string>
                <key>offset</key>
                <string>{-14,303}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,163},{100,68}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_400200_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,741},{98,58}}</string>
                <key>offset</key>
                <string>{-14,307}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,164},{98,58}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_400200_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,741},{98,76}}</string>
                <key>offset</key>
                <string>{-15,308}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{436,154},{98,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_400200_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,741},{104,60}}</string>
                <key>offset</key>
                <string>{-15,308}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,162},{104,60}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_400200_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,741},{98,72}}</string>
                <key>offset</key>
                <string>{-15,309}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,155},{98,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_400200_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,741},{102,80}}</string>
                <key>offset</key>
                <string>{-18,311}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{431,149},{102,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_400200_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,845},{104,46}}</string>
                <key>offset</key>
                <string>{-16,300}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,177},{104,46}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_400200_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,741},{102,76}}</string>
                <key>offset</key>
                <string>{-16,309}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{433,153},{102,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_400200_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,741},{102,78}}</string>
                <key>offset</key>
                <string>{-16,308}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{433,153},{102,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_400200_face_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,741},{98,58}}</string>
                <key>offset</key>
                <string>{-14,307}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,164},{98,58}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_400200_face_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,817},{102,72}}</string>
                <key>offset</key>
                <string>{-18,314}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{431,150},{102,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_400200_face_01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,801},{98,56}}</string>
                <key>offset</key>
                <string>{-16,308}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{435,164},{98,56}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_400200_face_01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,845},{100,48}}</string>
                <key>offset</key>
                <string>{-16,303}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,173},{100,48}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_400200_face_01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,841},{100,52}}</string>
                <key>offset</key>
                <string>{-17,303}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,171},{100,52}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_400200_face_01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,811},{90,82}}</string>
                <key>offset</key>
                <string>{-18,312}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,147},{90,82}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_400200_face_01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,815},{100,70}}</string>
                <key>offset</key>
                <string>{-16,313}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,152},{100,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_400200_face_01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,741},{106,80}}</string>
                <key>offset</key>
                <string>{-18,313}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{429,147},{106,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_400200_face_01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,849},{106,44}}</string>
                <key>offset</key>
                <string>{-16,301}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{431,177},{106,44}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_400200_face_01_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,741},{100,74}}</string>
                <key>offset</key>
                <string>{-16,316}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,147},{100,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{1010,894}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd4128820729d2fff17a95cac74957f7:e5f14fe4f21c29635c9889d031301e46:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
