<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_100600_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,77},{718,990}}</string>
                <key>offset</key>
                <string>{-48,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,5},{718,990}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100600_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1},{98,68}}</string>
                <key>offset</key>
                <string>{-27,262}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,204},{98,68}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100600_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,1},{98,74}}</string>
                <key>offset</key>
                <string>{-27,259}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,204},{98,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100600_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{86,62}}</string>
                <key>offset</key>
                <string>{-27,256}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{430,213},{86,62}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100600_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,1},{98,72}}</string>
                <key>offset</key>
                <string>{-27,260}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,204},{98,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100600_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,1},{96,62}}</string>
                <key>offset</key>
                <string>{-26,257}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,212},{96,62}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100600_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,1},{88,64}}</string>
                <key>offset</key>
                <string>{-26,254}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{430,214},{88,64}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100600_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,1},{98,68}}</string>
                <key>offset</key>
                <string>{-27,259}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,207},{98,68}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100600_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,1},{90,66}}</string>
                <key>offset</key>
                <string>{-25,259}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{430,208},{90,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100600_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,1},{98,72}}</string>
                <key>offset</key>
                <string>{-27,260}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,204},{98,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{992,796}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c9288ca7533916bdb769f2cf364c5f4:387ee5202f256a286cbacba088592ab8:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
