<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_107700_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,79},{642,984}}</string>
                <key>offset</key>
                <string>{25,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,5},{642,984}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_107700_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,1},{88,68}}</string>
                <key>offset</key>
                <string>{-15,300}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,166},{88,68}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_107700_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,1},{90,64}}</string>
                <key>offset</key>
                <string>{-18,299}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,169},{90,64}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_107700_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{78,60}}</string>
                <key>offset</key>
                <string>{-18,297}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,173},{78,60}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_107700_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1},{86,64}}</string>
                <key>offset</key>
                <string>{-14,298}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,170},{86,64}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_107700_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1},{86,60}}</string>
                <key>offset</key>
                <string>{-14,298}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,172},{86,60}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_107700_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1},{90,72}}</string>
                <key>offset</key>
                <string>{-16,299}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,165},{90,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_107700_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,1},{90,66}}</string>
                <key>offset</key>
                <string>{-16,298}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,169},{90,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_107700_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,1},{90,66}}</string>
                <key>offset</key>
                <string>{-16,300}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,167},{90,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_107700_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,1},{88,76}}</string>
                <key>offset</key>
                <string>{-15,300}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,162},{88,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_107700_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,1},{88,68}}</string>
                <key>offset</key>
                <string>{-15,299}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,167},{88,68}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_107700_face_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,1},{90,68}}</string>
                <key>offset</key>
                <string>{-16,300}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,166},{90,68}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{986,722}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9ca5a32439c92dd45a80450b4812e4b:87064818f3c726b4028ea896b2c8cb7c:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
