<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_101000_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,83},{596,996}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,1},{596,996}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101000_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1},{112,78}}</string>
                <key>offset</key>
                <string>{4,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,125},{112,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101000_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,1},{102,72}}</string>
                <key>offset</key>
                <string>{4,330}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{453,134},{102,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101000_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{98,66}}</string>
                <key>offset</key>
                <string>{2,330}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{453,137},{98,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101000_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,1},{126,80}}</string>
                <key>offset</key>
                <string>{1,328}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,132},{126,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101000_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1},{106,68}}</string>
                <key>offset</key>
                <string>{3,331}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,135},{106,68}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101000_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,1},{102,76}}</string>
                <key>offset</key>
                <string>{5,334}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{454,128},{102,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101000_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,1},{100,74}}</string>
                <key>offset</key>
                <string>{2,332}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,131},{100,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101000_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1},{100,72}}</string>
                <key>offset</key>
                <string>{3,332}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{453,132},{100,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101000_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,1},{104,78}}</string>
                <key>offset</key>
                <string>{5,335}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{453,126},{104,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{998,680}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa798763a6e59351e3c74e63e9b4ad20:c267e8bd4437fc4979b041b17fad1866:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
