<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_109700_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{880,992}}</string>
                <key>offset</key>
                <string>{-53,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{880,992}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109700_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,89},{112,84}}</string>
                <key>offset</key>
                <string>{19,347}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{463,111},{112,84}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109700_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,669},{108,86}}</string>
                <key>offset</key>
                <string>{19,350}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{465,107},{108,86}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109700_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,757},{108,74}}</string>
                <key>offset</key>
                <string>{23,341}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,122},{108,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109700_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,833},{118,84}}</string>
                <key>offset</key>
                <string>{23,347}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{464,111},{118,84}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109700_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,425},{110,82}}</string>
                <key>offset</key>
                <string>{18,347}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{463,112},{110,82}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109700_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,591},{110,76}}</string>
                <key>offset</key>
                <string>{22,341}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{467,121},{110,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109700_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1},{112,86}}</string>
                <key>offset</key>
                <string>{20,347}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{464,110},{112,86}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109700_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,509},{110,80}}</string>
                <key>offset</key>
                <string>{19,346}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{464,114},{110,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109700_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,337},{110,86}}</string>
                <key>offset</key>
                <string>{21,346}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{466,111},{110,86}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109700_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,259},{112,76}}</string>
                <key>offset</key>
                <string>{23,342}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{467,120},{112,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109700_face_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,175},{112,82}}</string>
                <key>offset</key>
                <string>{21,344}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{465,115},{112,82}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{996,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d14814a59e58bfea4a693a0766f28795:9b3cef47038a34b398772f7482983514:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
