<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_110300_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,67},{902,994}}</string>
                <key>offset</key>
                <string>{48,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,5},{902,994}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_110300_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,1},{78,58}}</string>
                <key>offset</key>
                <string>{-71,310}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{390,161},{78,58}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_110300_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,1},{78,64}}</string>
                <key>offset</key>
                <string>{-71,309}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{390,159},{78,64}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_110300_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1},{76,54}}</string>
                <key>offset</key>
                <string>{-71,306}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,167},{76,54}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_110300_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,1},{80,52}}</string>
                <key>offset</key>
                <string>{-70,308}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{390,166},{80,52}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_110300_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,1},{78,54}}</string>
                <key>offset</key>
                <string>{-71,308}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{390,165},{78,54}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_110300_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1},{76,58}}</string>
                <key>offset</key>
                <string>{-68,307}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,164},{76,58}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_110300_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1},{82,56}}</string>
                <key>offset</key>
                <string>{-71,307}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{388,165},{82,56}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_110300_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1},{80,56}}</string>
                <key>offset</key>
                <string>{-72,308}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{388,164},{80,56}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_110300_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1},{82,62}}</string>
                <key>offset</key>
                <string>{-71,308}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{388,161},{82,62}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_110300_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{76,48}}</string>
                <key>offset</key>
                <string>{-68,306}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,170},{76,48}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_110300_face_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,1},{80,56}}</string>
                <key>offset</key>
                <string>{-72,309}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{388,163},{80,56}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{996,970}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3bb7e789c3fb94ac51ecce95c8ed8ba:a3156c7503b6680aad34e8b0198d64c6:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
