<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_108000_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,87},{524,988}}</string>
                <key>offset</key>
                <string>{28,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,9},{524,988}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108000_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1},{84,80}}</string>
                <key>offset</key>
                <string>{11,326}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,134},{84,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108000_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1},{82,80}}</string>
                <key>offset</key>
                <string>{10,321}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,139},{82,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108000_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{78,70}}</string>
                <key>offset</key>
                <string>{10,319}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,146},{78,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108000_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1},{82,76}}</string>
                <key>offset</key>
                <string>{8,321}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{467,141},{82,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108000_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1},{78,70}}</string>
                <key>offset</key>
                <string>{10,320}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,145},{78,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108000_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1},{80,80}}</string>
                <key>offset</key>
                <string>{10,321}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,139},{80,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108000_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,1},{82,86}}</string>
                <key>offset</key>
                <string>{10,326}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{469,131},{82,86}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108000_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1},{78,70}}</string>
                <key>offset</key>
                <string>{11,319}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,146},{78,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108000_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1},{84,88}}</string>
                <key>offset</key>
                <string>{11,325}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{469,131},{84,88}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{990,612}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:149299fa4c8a5862a3684caf149c8e75:031394cf29dad5435d8c204bbd5409b6:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
