<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_103500_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,97},{496,980}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,9},{496,980}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_103500_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,1},{110,94}}</string>
                <key>offset</key>
                <string>{-2,329}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,124},{110,94}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_103500_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1},{102,84}}</string>
                <key>offset</key>
                <string>{-2,335}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{447,123},{102,84}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_103500_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1},{108,80}}</string>
                <key>offset</key>
                <string>{-2,332}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,128},{108,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_103500_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1},{108,82}}</string>
                <key>offset</key>
                <string>{-2,332}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,127},{108,82}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_103500_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,1},{106,90}}</string>
                <key>offset</key>
                <string>{-3,327}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,128},{106,90}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_103500_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,1},{104,90}}</string>
                <key>offset</key>
                <string>{-2,327}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{446,128},{104,90}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_103500_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,1},{112,88}}</string>
                <key>offset</key>
                <string>{-2,333}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,123},{112,88}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_103500_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{102,74}}</string>
                <key>offset</key>
                <string>{-2,329}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{447,134},{102,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_103500_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,1},{112,90}}</string>
                <key>offset</key>
                <string>{-3,334}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,121},{112,90}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{982,594}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc1e96314c8c8b5d2473dea87f949111:29c16565125e2764f85871421619951c:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
