<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_100500_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,57},{710,994}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,1},{710,994}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100500_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,1},{76,52}}</string>
                <key>offset</key>
                <string>{14,320}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{476,154},{76,52}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100500_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,1},{76,50}}</string>
                <key>offset</key>
                <string>{14,319}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{476,156},{76,50}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100500_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,1},{70,48}}</string>
                <key>offset</key>
                <string>{11,318}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{476,158},{70,48}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100500_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1},{70,48}}</string>
                <key>offset</key>
                <string>{11,318}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{476,158},{70,48}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100500_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{76,46}}</string>
                <key>offset</key>
                <string>{10,318}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,159},{76,46}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100500_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1},{72,48}}</string>
                <key>offset</key>
                <string>{12,319}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{476,157},{72,48}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100500_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1},{78,50}}</string>
                <key>offset</key>
                <string>{16,319}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,156},{78,50}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100500_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1},{74,48}}</string>
                <key>offset</key>
                <string>{15,320}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,156},{74,48}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100500_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,1},{78,54}}</string>
                <key>offset</key>
                <string>{16,321}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,152},{78,54}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{996,768}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b21842db4c22d71ec053ea4680f8d89e:286ffe92f0d3b4a67f02bc0957dfdb0d:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
