<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_105800_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{898,994}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,3},{898,994}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105800_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1},{90,70}}</string>
                <key>offset</key>
                <string>{-5,256}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,209},{90,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105800_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,217},{90,68}}</string>
                <key>offset</key>
                <string>{-5,255}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,211},{90,68}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105800_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,357},{90,66}}</string>
                <key>offset</key>
                <string>{-5,254}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,213},{90,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105800_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,691},{90,62}}</string>
                <key>offset</key>
                <string>{-5,252}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,217},{90,62}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105800_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,493},{90,64}}</string>
                <key>offset</key>
                <string>{-5,253}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,215},{90,64}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105800_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,287},{90,68}}</string>
                <key>offset</key>
                <string>{-5,255}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,211},{90,68}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105800_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,425},{90,66}}</string>
                <key>offset</key>
                <string>{-5,254}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,213},{90,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105800_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,559},{90,64}}</string>
                <key>offset</key>
                <string>{-5,253}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,215},{90,64}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105800_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,73},{90,70}}</string>
                <key>offset</key>
                <string>{-5,255}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,210},{90,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105800_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,625},{90,64}}</string>
                <key>offset</key>
                <string>{-5,253}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,215},{90,64}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105800_face_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,145},{90,70}}</string>
                <key>offset</key>
                <string>{-5,256}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,209},{90,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105800_face_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,755},{82,66}}</string>
                <key>offset</key>
                <string>{-2,255}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,212},{82,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{992,996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fa613a05b7e6292255ce975d435ae62:bea442d2f0a04489ddf92e57d6e879f4:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
