<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_103400_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,87},{650,984}}</string>
                <key>offset</key>
                <string>{-18,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,10},{650,984}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_103400_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{86,80}}</string>
                <key>offset</key>
                <string>{50,307}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{507,153},{86,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_103400_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,1},{86,80}}</string>
                <key>offset</key>
                <string>{50,307}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{507,153},{86,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_103400_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1},{86,80}}</string>
                <key>offset</key>
                <string>{50,307}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{507,153},{86,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_103400_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,1},{104,84}}</string>
                <key>offset</key>
                <string>{59,306}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{507,152},{104,84}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_103400_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1},{86,80}}</string>
                <key>offset</key>
                <string>{50,307}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{507,153},{86,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_103400_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1},{86,80}}</string>
                <key>offset</key>
                <string>{50,307}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{507,153},{86,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_103400_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,1},{86,80}}</string>
                <key>offset</key>
                <string>{50,307}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{507,153},{86,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_103400_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,1},{86,80}}</string>
                <key>offset</key>
                <string>{50,307}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{507,153},{86,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_103400_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,1},{86,80}}</string>
                <key>offset</key>
                <string>{50,307}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{507,153},{86,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{986,738}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:720b97b88070628dc8d56e48144aebb4:442ccfbeec151e16eadca548cfd0728b:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
