<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_300500_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1000,986}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{1000,986}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300500_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,989},{90,60}}</string>
                <key>offset</key>
                <string>{-17,342}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,128},{90,60}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300500_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,989},{92,74}}</string>
                <key>offset</key>
                <string>{-17,344}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,119},{92,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300500_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,989},{90,60}}</string>
                <key>offset</key>
                <string>{-16,343}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,127},{90,60}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300500_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,989},{98,74}}</string>
                <key>offset</key>
                <string>{-9,335}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,128},{98,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300500_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,989},{90,64}}</string>
                <key>offset</key>
                <string>{-16,341}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,127},{90,64}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300500_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,989},{86,64}}</string>
                <key>offset</key>
                <string>{-14,341}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,127},{86,64}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300500_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,989},{86,72}}</string>
                <key>offset</key>
                <string>{-14,345}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,119},{86,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300500_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,989},{90,64}}</string>
                <key>offset</key>
                <string>{-16,345}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,123},{90,64}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300500_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,989},{88,72}}</string>
                <key>offset</key>
                <string>{-17,344}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,120},{88,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300500_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,989},{90,66}}</string>
                <key>offset</key>
                <string>{-16,339}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,128},{90,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{1002,1064}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c81a8b817cb7899e8b425736fdc3e3e:db6b1941008c9fbd3659ab501eb688bd:75fa3480062e1dc7c6610c0fc2f56827$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
