<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_100900_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{754,980}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,8},{754,980}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100900_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,757},{110,90}}</string>
                <key>offset</key>
                <string>{-12,330}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,125},{110,90}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100900_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,757},{110,88}}</string>
                <key>offset</key>
                <string>{-12,329}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,127},{110,88}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100900_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,757},{94,58}}</string>
                <key>offset</key>
                <string>{-14,321}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{439,150},{94,58}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100900_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,757},{116,90}}</string>
                <key>offset</key>
                <string>{-18,325}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,130},{116,90}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100900_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,757},{104,66}}</string>
                <key>offset</key>
                <string>{-15,318}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,149},{104,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100900_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,757},{104,74}}</string>
                <key>offset</key>
                <string>{-15,320}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,143},{104,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100900_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,757},{150,82}}</string>
                <key>offset</key>
                <string>{-14,330}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{411,129},{150,82}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100900_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,757},{110,84}}</string>
                <key>offset</key>
                <string>{-11,332}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,126},{110,84}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100900_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,757},{110,90}}</string>
                <key>offset</key>
                <string>{-11,329}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,126},{110,90}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{990,852}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cab2db77d2dbf7134ec872d6c885c381:042fdd8111640934dd76f7b47661edf8:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
