<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_102200_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{570,914}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,33},{570,914}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_102200_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,611},{134,132}}</string>
                <key>offset</key>
                <string>{10,363}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{443,71},{134,132}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_102200_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,747},{134,132}}</string>
                <key>offset</key>
                <string>{10,363}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,71},{134,132}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_102200_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,1},{134,132}}</string>
                <key>offset</key>
                <string>{10,363}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{443,71},{134,132}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_102200_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,1},{232,132}}</string>
                <key>offset</key>
                <string>{-39,363}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{345,71},{232,132}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_102200_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,235},{232,132}}</string>
                <key>offset</key>
                <string>{-39,363}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{345,71},{232,132}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_102200_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,469},{140,132}}</string>
                <key>offset</key>
                <string>{13,363}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{443,71},{140,132}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_102200_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,137},{134,132}}</string>
                <key>offset</key>
                <string>{10,363}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{443,71},{134,132}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_102200_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,273},{134,132}}</string>
                <key>offset</key>
                <string>{10,363}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{443,71},{134,132}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_102200_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,409},{134,132}}</string>
                <key>offset</key>
                <string>{10,363}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{443,71},{134,132}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{840,916}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d08f9b3a0be0385b56de56d9a407a24:138c5b5b8f0a3c880735412332b42820:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
