<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_200700_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,91},{610,942}}</string>
                <key>offset</key>
                <string>{-105,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,24},{610,942}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200700_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,1},{98,88}}</string>
                <key>offset</key>
                <string>{-28,261}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,195},{98,88}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200700_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,1},{98,84}}</string>
                <key>offset</key>
                <string>{-28,258}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,200},{98,84}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200700_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{90,74}}</string>
                <key>offset</key>
                <string>{-29,255}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,208},{90,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200700_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,1},{110,80}}</string>
                <key>offset</key>
                <string>{-30,260}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{415,200},{110,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200700_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1},{98,80}}</string>
                <key>offset</key>
                <string>{-29,260}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,200},{98,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200700_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,1},{88,78}}</string>
                <key>offset</key>
                <string>{-30,253}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,208},{88,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200700_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1},{98,82}}</string>
                <key>offset</key>
                <string>{-29,261}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,198},{98,82}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200700_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1},{98,78}}</string>
                <key>offset</key>
                <string>{-29,259}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,202},{98,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200700_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,1},{98,88}}</string>
                <key>offset</key>
                <string>{-29,262}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,194},{98,88}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{944,702}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef5f17d329f35a612e685c4b167e35ac:7fcff7ba3e705b03d6e21c17b6da4ed4:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
