<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_300300_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{934,966}}</string>
                <key>offset</key>
                <string>{17,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,19},{934,966}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300300_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,937},{96,90}}</string>
                <key>offset</key>
                <string>{-118,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,394},{96,90}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300300_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,937},{96,96}}</string>
                <key>offset</key>
                <string>{-118,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,388},{96,96}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300300_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,937},{88,90}}</string>
                <key>offset</key>
                <string>{-126,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,394},{88,90}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300300_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,937},{108,106}}</string>
                <key>offset</key>
                <string>{-121,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,396},{108,106}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300300_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,937},{88,90}}</string>
                <key>offset</key>
                <string>{-126,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,394},{88,90}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300300_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,937},{96,102}}</string>
                <key>offset</key>
                <string>{-118,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,384},{96,102}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300300_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,937},{96,92}}</string>
                <key>offset</key>
                <string>{-118,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,394},{96,92}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300300_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,937},{94,98}}</string>
                <key>offset</key>
                <string>{-119,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,383},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300300_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,937},{94,104}}</string>
                <key>offset</key>
                <string>{-118,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,380},{94,104}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300300_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,937},{96,90}}</string>
                <key>offset</key>
                <string>{-118,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,395},{96,90}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{968,1044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76371957ca3e98a5aebf539880dc64f4:e9d1eeb19492ea872372abdf3a6decda:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
