<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_101900_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,95},{580,962}}</string>
                <key>offset</key>
                <string>{59,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,9},{580,962}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101900_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,1},{102,90}}</string>
                <key>offset</key>
                <string>{-11,322}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,133},{102,90}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101900_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1},{100,86}}</string>
                <key>offset</key>
                <string>{-10,320}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,137},{100,86}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101900_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,1},{100,80}}</string>
                <key>offset</key>
                <string>{-10,317}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,143},{100,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101900_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,1},{104,86}}</string>
                <key>offset</key>
                <string>{-8,319}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,138},{104,86}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101900_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{100,78}}</string>
                <key>offset</key>
                <string>{-10,316}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,145},{100,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101900_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,1},{100,80}}</string>
                <key>offset</key>
                <string>{-10,317}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,143},{100,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101900_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1},{100,82}}</string>
                <key>offset</key>
                <string>{-10,318}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,141},{100,82}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101900_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,1},{100,84}}</string>
                <key>offset</key>
                <string>{-10,319}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,139},{100,84}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101900_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,1},{104,92}}</string>
                <key>offset</key>
                <string>{-12,323}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,131},{104,92}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101900_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,1},{100,80}}</string>
                <key>offset</key>
                <string>{-10,317}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,143},{100,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{964,676}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05827f007ebedaf45563b8080a58c370:be1033a513ee27629f9ea67548ad5515:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
