<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_100300_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,77},{716,1000}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,0},{716,1000}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100300_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,1},{104,74}}</string>
                <key>offset</key>
                <string>{0,316}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,147},{104,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100300_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,1},{104,66}}</string>
                <key>offset</key>
                <string>{0,309}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,158},{104,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100300_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{84,58}}</string>
                <key>offset</key>
                <string>{1,310}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{459,161},{84,58}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100300_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1},{124,68}}</string>
                <key>offset</key>
                <string>{1,310}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,156},{124,68}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100300_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,1},{80,62}}</string>
                <key>offset</key>
                <string>{0,307}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{460,162},{80,62}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100300_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,1},{86,62}}</string>
                <key>offset</key>
                <string>{1,307}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,162},{86,62}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100300_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,1},{124,68}}</string>
                <key>offset</key>
                <string>{1,310}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,156},{124,68}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100300_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1},{96,64}}</string>
                <key>offset</key>
                <string>{0,311}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,157},{96,64}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100300_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1},{112,74}}</string>
                <key>offset</key>
                <string>{0,313}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,150},{112,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{1002,794}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ae2e39bc04695e61a67b984dcaaf7e9:78f8d782d6d05f978bd7b7b454c979a9:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
