<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_108100_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1000,926}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,55},{1000,926}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108100_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,929},{64,58}}</string>
                <key>offset</key>
                <string>{-97,256}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,215},{64,58}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108100_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,929},{62,58}}</string>
                <key>offset</key>
                <string>{-97,252}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,219},{62,58}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108100_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,929},{56,50}}</string>
                <key>offset</key>
                <string>{-97,252}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,223},{56,50}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108100_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,929},{68,56}}</string>
                <key>offset</key>
                <string>{-100,251}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,221},{68,56}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108100_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,929},{62,50}}</string>
                <key>offset</key>
                <string>{-97,253}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,222},{62,50}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108100_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,929},{58,52}}</string>
                <key>offset</key>
                <string>{-97,254}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,220},{58,52}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108100_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,929},{62,56}}</string>
                <key>offset</key>
                <string>{-96,255}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{373,217},{62,56}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108100_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,929},{64,56}}</string>
                <key>offset</key>
                <string>{-97,255}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,217},{64,56}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108100_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,929},{64,60}}</string>
                <key>offset</key>
                <string>{-96,255}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,215},{64,60}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{1002,990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9bf2bd2085580237db2652ee12f4677:3fe8160a282050e0e18a8b420259d48a:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
