<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_103900_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,109},{706,1000}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,0},{706,1000}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_103900_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,1},{102,86}}</string>
                <key>offset</key>
                <string>{-70,315}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,142},{102,86}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_103900_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1},{102,94}}</string>
                <key>offset</key>
                <string>{-70,310}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,143},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_103900_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{102,80}}</string>
                <key>offset</key>
                <string>{-70,310}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,150},{102,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_103900_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,1},{128,106}}</string>
                <key>offset</key>
                <string>{-68,301}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,146},{128,106}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_103900_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1},{102,88}}</string>
                <key>offset</key>
                <string>{-70,309}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,147},{102,88}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_103900_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,1},{102,90}}</string>
                <key>offset</key>
                <string>{-70,308}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,147},{102,90}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_103900_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,1},{102,92}}</string>
                <key>offset</key>
                <string>{-70,311}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,143},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_103900_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1},{102,84}}</string>
                <key>offset</key>
                <string>{-70,311}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,147},{102,84}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_103900_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1},{102,100}}</string>
                <key>offset</key>
                <string>{-70,311}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,139},{102,100}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{1002,816}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:351529cbc48482f710207fd96d970320:e72608ddd5dc384f305a6ea37725d8ec:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
