<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_104200_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,79},{848,994}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,3},{848,994}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_104200_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1},{82,64}}</string>
                <key>offset</key>
                <string>{-9,292}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,176},{82,64}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_104200_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,1},{86,76}}</string>
                <key>offset</key>
                <string>{-13,297}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,165},{86,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_104200_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{80,58}}</string>
                <key>offset</key>
                <string>{-10,287}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,184},{80,58}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_104200_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,1},{82,72}}</string>
                <key>offset</key>
                <string>{-9,286}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,178},{82,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_104200_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,1},{80,62}}</string>
                <key>offset</key>
                <string>{-8,291}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,178},{80,62}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_104200_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1},{76,64}}</string>
                <key>offset</key>
                <string>{-11,290}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{451,178},{76,64}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_104200_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,1},{86,74}}</string>
                <key>offset</key>
                <string>{-7,283}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,180},{86,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_104200_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1},{86,72}}</string>
                <key>offset</key>
                <string>{-13,293}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,171},{86,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_104200_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,1},{84,76}}</string>
                <key>offset</key>
                <string>{-10,290}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,172},{84,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{996,928}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4df3a76df3f48e26ad5adca243b5ecce:151acd94128a011e332c978ed7ceabd1:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
