<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_300_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,429},{506,912}}</string>
                <key>offset</key>
                <string>{-14,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,88},{506,912}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,59},{118,70}}</string>
                <key>offset</key>
                <string>{-17,289}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,176},{118,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,123},{120,82}}</string>
                <key>offset</key>
                <string>{-16,284}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,175},{120,82}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,145},{118,86}}</string>
                <key>offset</key>
                <string>{-18,297}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,160},{118,86}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,145},{122,86}}</string>
                <key>offset</key>
                <string>{-15,283}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,174},{122,86}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,135},{132,74}}</string>
                <key>offset</key>
                <string>{-16,292}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,171},{132,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,207},{118,90}}</string>
                <key>offset</key>
                <string>{-16,290}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,165},{118,90}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1},{130,56}}</string>
                <key>offset</key>
                <string>{-16,279}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,193},{130,56}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,323},{124,96}}</string>
                <key>offset</key>
                <string>{-20,294}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,158},{124,96}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,233},{124,92}}</string>
                <key>offset</key>
                <string>{-19,291}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,163},{124,92}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,71},{118,72}}</string>
                <key>offset</key>
                <string>{-17,289}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,175},{118,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300_face_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,63},{118,70}}</string>
                <key>offset</key>
                <string>{-17,287}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,178},{118,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300_face_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,211},{124,88}}</string>
                <key>offset</key>
                <string>{-20,297}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,159},{124,88}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300_face_01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1},{118,68}}</string>
                <key>offset</key>
                <string>{-16,290}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,176},{118,68}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300_face_01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1},{122,60}}</string>
                <key>offset</key>
                <string>{-17,285}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,185},{122,60}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300_face_01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,57},{122,64}}</string>
                <key>offset</key>
                <string>{-17,284}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,184},{122,64}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300_face_01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,301},{112,104}}</string>
                <key>offset</key>
                <string>{-18,294}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,154},{112,104}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300_face_01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,233},{124,88}}</string>
                <key>offset</key>
                <string>{-18,297}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,159},{124,88}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300_face_01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,327},{132,100}}</string>
                <key>offset</key>
                <string>{-18,297}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,153},{132,100}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300_face_01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{130,54}}</string>
                <key>offset</key>
                <string>{-16,281}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,192},{130,54}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300_face_01_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,301},{124,92}}</string>
                <key>offset</key>
                <string>{-18,298}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,156},{124,92}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{508,1342}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5aa19de25b7a9b2074939e89320eb63e:d99b742993b464caa9ea9f4ee1696722:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
