<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_200210_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{886,994}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,5},{886,994}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200210_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,1},{96,72}}</string>
                <key>offset</key>
                <string>{59,335}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{511,129},{96,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200210_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,641},{108,74}}</string>
                <key>offset</key>
                <string>{62,326}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{508,137},{108,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200210_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,205},{86,58}}</string>
                <key>offset</key>
                <string>{63,327}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{520,144},{86,58}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200210_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,751},{108,72}}</string>
                <key>offset</key>
                <string>{62,333}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{508,131},{108,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200210_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,75},{96,66}}</string>
                <key>offset</key>
                <string>{60,331}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{512,136},{96,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200210_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,447},{84,70}}</string>
                <key>offset</key>
                <string>{62,326}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{520,139},{84,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200210_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,519},{120,74}}</string>
                <key>offset</key>
                <string>{57,326}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{497,137},{120,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200210_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,143},{96,60}}</string>
                <key>offset</key>
                <string>{61,327}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{513,143},{96,60}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200210_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,325},{120,84}}</string>
                <key>offset</key>
                <string>{57,329}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{497,129},{120,84}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200210_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,265},{86,58}}</string>
                <key>offset</key>
                <string>{63,327}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{520,144},{86,58}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200210_face_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,861},{108,70}}</string>
                <key>offset</key>
                <string>{62,332}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{508,133},{108,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{986,996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8189952139e38cbc1ec7ca4e5ed1525b:23b925050efe0334d651f928972044e6:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
