<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_106500_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,91},{666,898}}</string>
                <key>offset</key>
                <string>{17,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,62},{666,898}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106500_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,1},{98,76}}</string>
                <key>offset</key>
                <string>{-22,286}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,176},{98,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106500_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1},{98,88}}</string>
                <key>offset</key>
                <string>{-22,290}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,166},{98,88}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106500_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{90,72}}</string>
                <key>offset</key>
                <string>{-26,286}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,178},{90,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106500_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,1},{94,74}}</string>
                <key>offset</key>
                <string>{-25,283}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,180},{94,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106500_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,1},{98,80}}</string>
                <key>offset</key>
                <string>{-23,288}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,172},{98,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106500_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1},{94,74}}</string>
                <key>offset</key>
                <string>{-25,283}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,180},{94,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106500_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1},{98,82}}</string>
                <key>offset</key>
                <string>{-22,290}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,169},{98,82}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106500_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1},{100,74}}</string>
                <key>offset</key>
                <string>{-22,287}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,176},{100,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106500_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,1},{98,78}}</string>
                <key>offset</key>
                <string>{-22,286}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,175},{98,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{900,758}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aed2b14d721a4eac00589ea796122863:f8124730b1c287c86b0281a4df044a0f:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
