<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_104600_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,253},{976,952}}</string>
                <key>offset</key>
                <string>{12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{976,952}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_104600_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{154,124}}</string>
                <key>offset</key>
                <string>{-26,317}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,121},{154,124}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_104600_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1},{154,124}}</string>
                <key>offset</key>
                <string>{-26,317}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,121},{154,124}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_104600_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1},{154,124}}</string>
                <key>offset</key>
                <string>{-26,317}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,121},{154,124}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_104600_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,1},{152,124}}</string>
                <key>offset</key>
                <string>{-26,317}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,121},{152,124}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_104600_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,1},{154,124}}</string>
                <key>offset</key>
                <string>{-26,317}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,121},{154,124}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_104600_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,1},{154,124}}</string>
                <key>offset</key>
                <string>{-26,317}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,121},{154,124}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_104600_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,127},{154,124}}</string>
                <key>offset</key>
                <string>{-26,317}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,121},{154,124}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_104600_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,127},{154,124}}</string>
                <key>offset</key>
                <string>{-26,317}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,121},{154,124}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_104600_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,127},{154,124}}</string>
                <key>offset</key>
                <string>{-26,317}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,121},{154,124}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{978,1206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c45d7b312a228db15ad714803e9e9a9:35b0e3e6d80af187d3c16ed0a641c9a7:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
