<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_106200_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,79},{946,962}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,23},{946,962}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106200_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,1},{86,72}}</string>
                <key>offset</key>
                <string>{97,323}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{554,141},{86,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106200_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,1},{86,74}}</string>
                <key>offset</key>
                <string>{97,324}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{554,139},{86,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106200_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,1},{80,70}}</string>
                <key>offset</key>
                <string>{96,323}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{556,142},{80,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106200_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1},{86,70}}</string>
                <key>offset</key>
                <string>{97,322}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{554,143},{86,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106200_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1},{80,70}}</string>
                <key>offset</key>
                <string>{96,323}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{556,142},{80,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106200_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,1},{80,74}}</string>
                <key>offset</key>
                <string>{96,321}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{556,142},{80,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106200_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{86,68}}</string>
                <key>offset</key>
                <string>{97,322}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{554,144},{86,68}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106200_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1},{86,76}}</string>
                <key>offset</key>
                <string>{97,325}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{554,137},{86,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106200_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1},{86,70}}</string>
                <key>offset</key>
                <string>{97,322}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{554,143},{86,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{964,1026}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02846eb37b940d678e6a4517742266b3:0c8c62d3d12f58db399e44ee76640780:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
