<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_105600_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{522,982}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,16},{522,982}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105600_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,525},{162,194}}</string>
                <key>offset</key>
                <string>{-5,323}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{414,80},{162,194}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105600_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,525},{162,194}}</string>
                <key>offset</key>
                <string>{-5,323}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{414,80},{162,194}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105600_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,525},{162,194}}</string>
                <key>offset</key>
                <string>{-5,323}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{414,80},{162,194}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105600_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,525},{162,194}}</string>
                <key>offset</key>
                <string>{-5,323}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{414,80},{162,194}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105600_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,525},{162,194}}</string>
                <key>offset</key>
                <string>{-5,323}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,80},{162,194}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105600_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,689},{162,194}}</string>
                <key>offset</key>
                <string>{-5,323}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{414,80},{162,194}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105600_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,689},{162,194}}</string>
                <key>offset</key>
                <string>{-5,323}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{414,80},{162,194}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105600_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,689},{162,194}}</string>
                <key>offset</key>
                <string>{-5,323}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{414,80},{162,194}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105600_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,689},{162,194}}</string>
                <key>offset</key>
                <string>{-5,323}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{414,80},{162,194}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{984,852}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2170f70c5c1389cd6190af7c9151a900:def946d17cb0a274c57f1578f5ed987a:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
