<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_106700_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{866,998}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,2},{866,998}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106700_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,189},{124,86}}</string>
                <key>offset</key>
                <string>{5,341}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,116},{124,86}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106700_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,1},{124,96}}</string>
                <key>offset</key>
                <string>{5,346}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,106},{124,96}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106700_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,623},{124,80}}</string>
                <key>offset</key>
                <string>{5,338}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,122},{124,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106700_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,705},{124,80}}</string>
                <key>offset</key>
                <string>{5,338}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,122},{124,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106700_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,539},{124,82}}</string>
                <key>offset</key>
                <string>{5,339}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,120},{124,82}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106700_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,453},{124,84}}</string>
                <key>offset</key>
                <string>{5,340}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,118},{124,84}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106700_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,277},{124,86}}</string>
                <key>offset</key>
                <string>{5,341}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,116},{124,86}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106700_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,365},{124,86}}</string>
                <key>offset</key>
                <string>{5,341}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,116},{124,86}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106700_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,99},{124,88}}</string>
                <key>offset</key>
                <string>{5,342}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,114},{124,88}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106700_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,787},{124,80}}</string>
                <key>offset</key>
                <string>{5,338}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,122},{124,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{994,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b9af0dbc89c6275d9fb5af9110ec0ea:a3665ddb7303cd96a12a51d0f0671e60:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
