<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_108910_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,81},{672,996}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,2},{672,996}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108910_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,1},{92,68}}</string>
                <key>offset</key>
                <string>{27,320}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,146},{92,68}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108910_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1},{92,60}}</string>
                <key>offset</key>
                <string>{27,317}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,153},{92,60}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108910_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1},{86,58}}</string>
                <key>offset</key>
                <string>{29,316}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{486,155},{86,58}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108910_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1},{92,62}}</string>
                <key>offset</key>
                <string>{27,317}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,152},{92,62}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108910_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{86,56}}</string>
                <key>offset</key>
                <string>{29,315}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{486,157},{86,56}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108910_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,1},{86,62}}</string>
                <key>offset</key>
                <string>{29,314}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{486,155},{86,62}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108910_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1},{92,74}}</string>
                <key>offset</key>
                <string>{27,321}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,142},{92,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108910_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,1},{90,56}}</string>
                <key>offset</key>
                <string>{27,315}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,157},{90,56}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108910_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,1},{94,78}}</string>
                <key>offset</key>
                <string>{26,319}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,142},{94,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108910_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,1},{88,56}}</string>
                <key>offset</key>
                <string>{29,314}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{485,158},{88,56}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{998,754}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86179d145052de648694b5d55d4696d4:00fec9773ceada4175c6e4ed24322a52:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
