<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_106610_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{766,1000}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,0},{766,1000}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106610_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,769},{110,78}}</string>
                <key>offset</key>
                <string>{8,327}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{453,134},{110,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106610_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,769},{98,78}}</string>
                <key>offset</key>
                <string>{5,327}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{456,134},{98,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106610_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,769},{96,72}}</string>
                <key>offset</key>
                <string>{4,323}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{456,141},{96,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106610_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,769},{106,90}}</string>
                <key>offset</key>
                <string>{7,322}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{454,133},{106,90}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106610_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,769},{108,78}}</string>
                <key>offset</key>
                <string>{5,327}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{451,134},{108,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106610_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,769},{96,66}}</string>
                <key>offset</key>
                <string>{4,315}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{456,152},{96,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106610_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,769},{98,80}}</string>
                <key>offset</key>
                <string>{6,328}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{457,132},{98,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106610_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,769},{102,70}}</string>
                <key>offset</key>
                <string>{7,323}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{456,142},{102,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106610_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,769},{108,82}}</string>
                <key>offset</key>
                <string>{8,329}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{454,130},{108,82}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106610_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,769},{96,70}}</string>
                <key>offset</key>
                <string>{4,325}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{456,140},{96,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106610_face_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,769},{102,64}}</string>
                <key>offset</key>
                <string>{5,319}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{454,149},{102,64}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106610_face_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,769},{130,74}}</string>
                <key>offset</key>
                <string>{7,325}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,138},{130,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{1002,880}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f51af9d786b658617a20e973df01771c:e6b1d37e7e330f69b64727941290340a:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
