<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_109200_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,75},{660,1000}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,0},{660,1000}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109200_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1},{74,62}}</string>
                <key>offset</key>
                <string>{-8,279}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{455,190},{74,62}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109200_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,1},{72,62}}</string>
                <key>offset</key>
                <string>{-7,275}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,194},{72,62}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109200_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{66,54}}</string>
                <key>offset</key>
                <string>{-6,275}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{461,198},{66,54}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109200_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1},{72,58}}</string>
                <key>offset</key>
                <string>{-7,277}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,194},{72,58}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109200_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,1},{66,54}}</string>
                <key>offset</key>
                <string>{-6,274}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{461,199},{66,54}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109200_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,1},{70,62}}</string>
                <key>offset</key>
                <string>{-7,274}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,195},{70,62}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109200_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,1},{72,74}}</string>
                <key>offset</key>
                <string>{-8,279}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{456,184},{72,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109200_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,1},{68,54}}</string>
                <key>offset</key>
                <string>{-7,275}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{459,198},{68,54}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109200_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,1},{74,70}}</string>
                <key>offset</key>
                <string>{-8,277}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{455,188},{74,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109200_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1},{70,54}}</string>
                <key>offset</key>
                <string>{-4,274}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{461,199},{70,54}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{1002,736}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3dc8b8e60747ed620fce9e248ab1487:60681a66e8dcffb7b957aaf6f7060995:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
