<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_101500_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,87},{562,992}}</string>
                <key>offset</key>
                <string>{16,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,0},{562,992}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101500_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1},{88,78}}</string>
                <key>offset</key>
                <string>{-33,314}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,147},{88,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101500_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,1},{90,84}}</string>
                <key>offset</key>
                <string>{-32,317}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,141},{90,84}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101500_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{82,70}}</string>
                <key>offset</key>
                <string>{-31,311}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,154},{82,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101500_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,1},{86,72}}</string>
                <key>offset</key>
                <string>{-33,310}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,154},{86,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101500_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,1},{86,82}}</string>
                <key>offset</key>
                <string>{-32,304}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,155},{86,82}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101500_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1},{84,80}}</string>
                <key>offset</key>
                <string>{-29,313}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,147},{84,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101500_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1},{86,76}}</string>
                <key>offset</key>
                <string>{-33,310}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,152},{86,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101500_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1},{92,82}}</string>
                <key>offset</key>
                <string>{-28,317}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,142},{92,82}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101500_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1},{96,84}}</string>
                <key>offset</key>
                <string>{-29,315}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,143},{96,84}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{994,650}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b934ce79d5adeb34830d31b168d369bd:f881fe8e27d9d08b041ed9e207d2ff1b:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
