<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_300210_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{670,984}}</string>
                <key>offset</key>
                <string>{-29,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,5},{670,984}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300210_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,595},{196,158}}</string>
                <key>offset</key>
                <string>{39,362}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{441,59},{196,158}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300210_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,199},{196,164}}</string>
                <key>offset</key>
                <string>{39,360}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{441,58},{196,164}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300210_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,1},{196,162}}</string>
                <key>offset</key>
                <string>{39,360}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{441,59},{196,162}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300210_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,1},{196,166}}</string>
                <key>offset</key>
                <string>{39,359}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{441,58},{196,166}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300210_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,397},{196,164}}</string>
                <key>offset</key>
                <string>{39,360}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{441,58},{196,164}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300210_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,595},{196,164}}</string>
                <key>offset</key>
                <string>{39,359}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{441,59},{196,164}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300210_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,397},{196,162}}</string>
                <key>offset</key>
                <string>{39,360}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{441,59},{196,162}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300210_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,793},{196,164}}</string>
                <key>offset</key>
                <string>{39,360}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,58},{196,164}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300210_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,199},{196,164}}</string>
                <key>offset</key>
                <string>{39,360}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{441,58},{196,164}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{1004,986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12ac2266c36b049cfb8fe531f66766da:19c526e43e54f9714a46c9d62542bc4e:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
