<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_108400_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{882,980}}</string>
                <key>offset</key>
                <string>{45,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,3},{882,980}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108400_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,163},{104,74}}</string>
                <key>offset</key>
                <string>{-12,286}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,177},{104,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108400_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,863},{108,78}}</string>
                <key>offset</key>
                <string>{-14,288}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{432,173},{108,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108400_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,469},{100,74}}</string>
                <key>offset</key>
                <string>{-14,285}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,178},{100,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108400_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,613},{134,90}}</string>
                <key>offset</key>
                <string>{-13,277}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{420,178},{134,90}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108400_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,239},{104,74}}</string>
                <key>offset</key>
                <string>{-12,284}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,179},{104,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108400_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,749},{112,90}}</string>
                <key>offset</key>
                <string>{-17,292}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{427,163},{112,90}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108400_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,391},{100,76}}</string>
                <key>offset</key>
                <string>{-12,286}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,176},{100,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108400_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,315},{102,74}}</string>
                <key>offset</key>
                <string>{-16,285}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,178},{102,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108400_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,1},{106,82}}</string>
                <key>offset</key>
                <string>{-13,287}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,172},{106,82}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108400_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,545},{94,66}}</string>
                <key>offset</key>
                <string>{-13,285}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,182},{94,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108400_face_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,85},{104,76}}</string>
                <key>offset</key>
                <string>{-12,285}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,177},{104,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{992,982}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4cb7964b4035a70d5f99a641e0dfbcf:2cc51318b5b3612bb966d6a259e794d6:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
