<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_107400_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{902,940}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,25},{902,940}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_107400_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,1029},{118,118}}</string>
                <key>offset</key>
                <string>{0,320}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,121},{118,118}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_107400_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,905},{118,118}}</string>
                <key>offset</key>
                <string>{0,320}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,121},{118,118}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_107400_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,1025},{118,118}}</string>
                <key>offset</key>
                <string>{0,320}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,121},{118,118}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_107400_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,905},{476,320}}</string>
                <key>offset</key>
                <string>{-11,243}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,97},{476,320}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_107400_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,1145},{118,118}}</string>
                <key>offset</key>
                <string>{0,320}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,121},{118,118}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_107400_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,905},{118,118}}</string>
                <key>offset</key>
                <string>{0,320}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,121},{118,118}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_107400_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,905},{122,118}}</string>
                <key>offset</key>
                <string>{2,320}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{441,121},{122,118}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_107400_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,905},{118,118}}</string>
                <key>offset</key>
                <string>{0,320}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,121},{118,118}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_107400_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,1025},{118,118}}</string>
                <key>offset</key>
                <string>{0,320}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,121},{118,118}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_107400_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,1145},{118,118}}</string>
                <key>offset</key>
                <string>{0,320}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,121},{118,118}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{958,1264}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5c03b28b5d39e576ce78f15acefbd95:32dbae9f611d305c3f9d5c363f7cf7fb:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
