<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_100400_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,83},{844,980}}</string>
                <key>offset</key>
                <string>{42,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,13},{844,980}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100400_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1},{96,72}}</string>
                <key>offset</key>
                <string>{-164,289}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,175},{96,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100400_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,1},{90,72}}</string>
                <key>offset</key>
                <string>{-166,284}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,180},{90,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100400_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1},{84,66}}</string>
                <key>offset</key>
                <string>{-166,286}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,181},{84,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100400_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,1},{114,80}}</string>
                <key>offset</key>
                <string>{-165,285}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,175},{114,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100400_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{98,64}}</string>
                <key>offset</key>
                <string>{-165,285}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,183},{98,64}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100400_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,1},{90,68}}</string>
                <key>offset</key>
                <string>{-163,287}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,179},{90,68}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100400_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,1},{90,78}}</string>
                <key>offset</key>
                <string>{-166,287}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,174},{90,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100400_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,1},{96,72}}</string>
                <key>offset</key>
                <string>{-164,289}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,175},{96,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100400_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1},{90,74}}</string>
                <key>offset</key>
                <string>{-166,288}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,175},{90,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100400_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,1},{96,72}}</string>
                <key>offset</key>
                <string>{-164,289}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,175},{96,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{982,928}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bd0e28eb1aafdc6d4fcb45be0681b4b:004b76b09b6c3907a1f92252d7b106e6:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
