<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_106600_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,79},{536,964}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,21},{536,964}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106600_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,1},{100,68}}</string>
                <key>offset</key>
                <string>{-13,331}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,135},{100,68}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106600_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1},{96,64}}</string>
                <key>offset</key>
                <string>{-11,330}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,138},{96,64}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106600_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1},{96,60}}</string>
                <key>offset</key>
                <string>{-12,323}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,147},{96,60}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106600_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,1},{112,76}}</string>
                <key>offset</key>
                <string>{-7,315}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,147},{112,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106600_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{98,58}}</string>
                <key>offset</key>
                <string>{-12,324}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,147},{98,58}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106600_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,1},{94,62}}</string>
                <key>offset</key>
                <string>{-13,321}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,148},{94,62}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106600_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,1},{96,70}}</string>
                <key>offset</key>
                <string>{-11,331}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,134},{96,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106600_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1},{102,68}}</string>
                <key>offset</key>
                <string>{-14,328}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{435,138},{102,68}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106600_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,1},{100,70}}</string>
                <key>offset</key>
                <string>{-13,332}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,133},{100,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106600_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,1},{94,62}}</string>
                <key>offset</key>
                <string>{-13,321}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,148},{94,62}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{966,616}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a5f59e493fb982a365716118dd15d7c:dfdb825d0cb4235b0ea48df746c6cf41:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
