<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_106000_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,81},{602,998}}</string>
                <key>offset</key>
                <string>{-63,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,1},{602,998}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106000_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1},{112,72}}</string>
                <key>offset</key>
                <string>{-8,330}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,134},{112,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106000_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1},{110,72}}</string>
                <key>offset</key>
                <string>{-8,331}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,133},{110,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106000_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{110,66}}</string>
                <key>offset</key>
                <string>{-8,328}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,139},{110,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106000_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,1},{108,74}}</string>
                <key>offset</key>
                <string>{-7,330}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,133},{108,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106000_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1},{110,70}}</string>
                <key>offset</key>
                <string>{-8,330}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,135},{110,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106000_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,1},{108,74}}</string>
                <key>offset</key>
                <string>{-7,330}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,133},{108,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106000_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,1},{110,78}}</string>
                <key>offset</key>
                <string>{-8,330}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,131},{110,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106000_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1},{114,72}}</string>
                <key>offset</key>
                <string>{-8,330}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{435,134},{114,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_106000_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1},{110,76}}</string>
                <key>offset</key>
                <string>{-8,332}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,130},{110,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{1010,684}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f63a46b34c52c28312b5358fc8446aa:b53863c64212da16ce3f71109dd3edb1:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
