<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_101100_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,81},{602,930}}</string>
                <key>offset</key>
                <string>{15,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,14},{602,930}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101100_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1},{94,78}}</string>
                <key>offset</key>
                <string>{-23,337}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{430,124},{94,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101100_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,1},{88,66}}</string>
                <key>offset</key>
                <string>{-20,330}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,137},{88,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101100_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{86,58}}</string>
                <key>offset</key>
                <string>{-22,326}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{435,145},{86,58}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101100_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,1},{128,78}}</string>
                <key>offset</key>
                <string>{-29,331}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{407,130},{128,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101100_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,1},{90,64}}</string>
                <key>offset</key>
                <string>{-21,330}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,138},{90,64}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101100_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,1},{88,68}}</string>
                <key>offset</key>
                <string>{-25,332}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{431,134},{88,68}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101100_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1},{92,70}}</string>
                <key>offset</key>
                <string>{-22,330}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,135},{92,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101100_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1},{90,66}}</string>
                <key>offset</key>
                <string>{-22,331}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,136},{90,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101100_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,1},{92,72}}</string>
                <key>offset</key>
                <string>{-22,333}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,131},{92,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{932,684}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ec848314d64dc26d26565d2cc8065bd:0533b5ad8d93e2adc9fb2043f7f4c202:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
