<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_200200_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{428,904}}</string>
                <key>offset</key>
                <string>{-76,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,88},{428,904}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200200_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,357},{88,76}}</string>
                <key>offset</key>
                <string>{43,256}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{499,206},{88,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200200_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,267},{88,78}}</string>
                <key>offset</key>
                <string>{43,251}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{499,210},{88,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200200_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,431},{74,74}}</string>
                <key>offset</key>
                <string>{48,257}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{511,206},{74,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200200_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,431},{110,74}}</string>
                <key>offset</key>
                <string>{41,245}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{486,218},{110,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200200_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,431},{88,62}}</string>
                <key>offset</key>
                <string>{43,251}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{499,218},{88,62}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200200_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,431},{76,66}}</string>
                <key>offset</key>
                <string>{44,249}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{506,218},{76,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200200_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,1},{100,84}}</string>
                <key>offset</key>
                <string>{38,251}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{488,207},{100,84}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200200_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,205},{82,60}}</string>
                <key>offset</key>
                <string>{44,250}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{503,220},{82,60}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200200_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,103},{100,84}}</string>
                <key>offset</key>
                <string>{38,251}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{488,207},{100,84}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200200_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,431},{72,58}}</string>
                <key>offset</key>
                <string>{47,249}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{511,222},{72,58}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200200_face_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,431},{88,70}}</string>
                <key>offset</key>
                <string>{43,255}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{499,210},{88,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200200_face_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,431},{74,76}}</string>
                <key>offset</key>
                <string>{48,256}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{511,206},{74,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{992,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97a06ab49ae6a709707d1950e6dd5733:3f74e7e33a46d462dfc2b3d8282f1713:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
