<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_102700_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,77},{670,962}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,14},{670,962}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_102700_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,1},{88,68}}</string>
                <key>offset</key>
                <string>{-10,325}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{446,141},{88,68}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_102700_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1},{90,66}}</string>
                <key>offset</key>
                <string>{-11,325}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,142},{90,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_102700_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{80,60}}</string>
                <key>offset</key>
                <string>{-8,321}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,149},{80,60}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_102700_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1},{96,64}}</string>
                <key>offset</key>
                <string>{-6,324}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{446,144},{96,64}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_102700_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1},{88,64}}</string>
                <key>offset</key>
                <string>{-10,323}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{446,145},{88,64}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_102700_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,1},{80,62}}</string>
                <key>offset</key>
                <string>{-8,319}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,150},{80,62}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_102700_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1},{88,68}}</string>
                <key>offset</key>
                <string>{-10,323}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{446,143},{88,68}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_102700_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,1},{94,66}}</string>
                <key>offset</key>
                <string>{-9,324}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,143},{94,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_102700_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,1},{88,74}}</string>
                <key>offset</key>
                <string>{-10,327}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{446,136},{88,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_102700_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1},{92,62}}</string>
                <key>offset</key>
                <string>{-12,323}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,146},{92,62}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{964,748}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d66243c0cf18d87f4c2f0191d8f9a518:ac0928b5f20219010c6d415b24907dab:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
