<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_101700_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{898,960}}</string>
                <key>offset</key>
                <string>{-25,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{898,960}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101700_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1},{104,166}}</string>
                <key>offset</key>
                <string>{-22,224}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,193},{104,166}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101700_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,245},{82,72}}</string>
                <key>offset</key>
                <string>{-14,278}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,186},{82,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101700_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,319},{82,66}}</string>
                <key>offset</key>
                <string>{-14,276}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,191},{82,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101700_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,169},{100,74}}</string>
                <key>offset</key>
                <string>{-18,275}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,188},{100,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101700_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,387},{82,62}}</string>
                <key>offset</key>
                <string>{-19,280}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,189},{82,62}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101700_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,591},{80,64}}</string>
                <key>offset</key>
                <string>{-13,275}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{447,193},{80,64}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101700_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,657},{78,70}}</string>
                <key>offset</key>
                <string>{-16,278}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,187},{78,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101700_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,523},{80,66}}</string>
                <key>offset</key>
                <string>{-16,276}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,191},{80,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101700_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,729},{76,70}}</string>
                <key>offset</key>
                <string>{-16,279}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{446,186},{76,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101700_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,451},{80,70}}</string>
                <key>offset</key>
                <string>{-13,277}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{447,188},{80,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{1006,962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:605aba6361325ae19eb72d3a0d23508b:83df0b0d6d2eb49caaad34c0a1c62e97:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
