<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_110400_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,85},{930,968}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,14},{930,968}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_110400_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1},{80,76}}</string>
                <key>offset</key>
                <string>{131,330}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,132},{80,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_110400_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,1},{80,70}}</string>
                <key>offset</key>
                <string>{132,327}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{592,138},{80,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_110400_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1},{78,66}}</string>
                <key>offset</key>
                <string>{131,325}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{592,142},{78,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_110400_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,1},{80,68}}</string>
                <key>offset</key>
                <string>{132,325}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{592,141},{80,68}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_110400_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{76,64}}</string>
                <key>offset</key>
                <string>{133,324}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,144},{76,64}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_110400_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,1},{76,76}}</string>
                <key>offset</key>
                <string>{134,324}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{596,138},{76,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_110400_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1},{82,84}}</string>
                <key>offset</key>
                <string>{132,326}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{591,132},{82,84}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_110400_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1},{78,70}}</string>
                <key>offset</key>
                <string>{131,326}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{592,139},{78,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_110400_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,1},{82,84}}</string>
                <key>offset</key>
                <string>{131,329}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{590,129},{82,84}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_110400_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,1},{78,64}}</string>
                <key>offset</key>
                <string>{134,324}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,144},{78,64}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_110400_face_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1},{80,76}}</string>
                <key>offset</key>
                <string>{131,330}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{591,132},{80,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{970,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60bee8e822c8835b95bbb04043a69dd6:35af7ba0f1a4faf6a52b272613d1dd34:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
