<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_200600_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,93},{512,998}}</string>
                <key>offset</key>
                <string>{66,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{310,2},{512,998}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200600_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1},{102,82}}</string>
                <key>offset</key>
                <string>{-24,307}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,152},{102,82}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200600_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,1},{98,82}}</string>
                <key>offset</key>
                <string>{-26,300}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,159},{98,82}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200600_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{90,68}}</string>
                <key>offset</key>
                <string>{-23,298}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,168},{90,68}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200600_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,1},{94,84}}</string>
                <key>offset</key>
                <string>{-20,301}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,157},{94,84}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200600_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1},{98,80}}</string>
                <key>offset</key>
                <string>{-25,301}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,159},{98,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200600_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,1},{94,84}}</string>
                <key>offset</key>
                <string>{-20,301}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,157},{94,84}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200600_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,1},{98,84}}</string>
                <key>offset</key>
                <string>{-26,302}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,156},{98,84}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200600_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,1},{96,74}}</string>
                <key>offset</key>
                <string>{-25,302}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,161},{96,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200600_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,1},{98,90}}</string>
                <key>offset</key>
                <string>{-26,303}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,152},{98,90}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200600_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1},{102,76}}</string>
                <key>offset</key>
                <string>{-24,303}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,159},{102,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{1000,606}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f09db20a036c6ca5f4e264220402ede6:d8bb3ec527f45e450e8b7fa67559757e:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
