<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_105410_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,81},{586,988}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,6},{586,988}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105410_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,1},{78,70}}</string>
                <key>offset</key>
                <string>{8,348}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,117},{78,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105410_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,1},{78,60}}</string>
                <key>offset</key>
                <string>{7,343}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,127},{78,60}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105410_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,1},{72,60}}</string>
                <key>offset</key>
                <string>{7,343}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,127},{72,60}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105410_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1},{78,66}}</string>
                <key>offset</key>
                <string>{7,343}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,124},{78,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105410_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{72,56}}</string>
                <key>offset</key>
                <string>{7,340}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,132},{72,56}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105410_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1},{74,66}}</string>
                <key>offset</key>
                <string>{7,340}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,127},{74,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105410_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,1},{78,66}}</string>
                <key>offset</key>
                <string>{8,345}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,122},{78,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105410_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1},{74,60}}</string>
                <key>offset</key>
                <string>{8,343}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,127},{74,60}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105410_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,1},{78,78}}</string>
                <key>offset</key>
                <string>{8,346}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,115},{78,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105410_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,1},{76,56}}</string>
                <key>offset</key>
                <string>{5,340}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{467,132},{76,56}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{990,668}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73762c1c8d9ed30d948217fc3374cd53:ffbcb926a05ef070556c025d3d18a877:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
