<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_108010_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,95},{516,982}}</string>
                <key>offset</key>
                <string>{-22,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,10},{516,982}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108010_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,1},{94,78}}</string>
                <key>offset</key>
                <string>{17,330}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,131},{94,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108010_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,1},{94,68}}</string>
                <key>offset</key>
                <string>{19,327}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,139},{94,68}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108010_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1},{88,70}}</string>
                <key>offset</key>
                <string>{22,322}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,143},{88,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108010_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,1},{94,72}}</string>
                <key>offset</key>
                <string>{19,327}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,137},{94,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108010_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1},{88,70}}</string>
                <key>offset</key>
                <string>{22,324}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,141},{88,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108010_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,1},{88,78}}</string>
                <key>offset</key>
                <string>{21,324}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,137},{88,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108010_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1},{94,92}}</string>
                <key>offset</key>
                <string>{17,323}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,131},{94,92}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108010_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{92,66}}</string>
                <key>offset</key>
                <string>{17,323}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,144},{92,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108010_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,1},{94,86}}</string>
                <key>offset</key>
                <string>{17,330}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,127},{94,86}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108010_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,1},{92,70}}</string>
                <key>offset</key>
                <string>{21,324}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{475,141},{92,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{984,612}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:047e27c995a49f0644a334958a337674:eaac1947ad16fcbb5ed63b19fde24f13:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
