<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_100700_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,77},{984,966}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{984,966}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100700_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,1},{86,68}}</string>
                <key>offset</key>
                <string>{-53,349}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,117},{86,68}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100700_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,1},{84,70}}</string>
                <key>offset</key>
                <string>{-52,348}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{406,117},{84,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100700_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{84,66}}</string>
                <key>offset</key>
                <string>{-49,345}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{409,122},{84,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100700_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,1},{98,72}}</string>
                <key>offset</key>
                <string>{-46,343}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,121},{98,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100700_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1},{84,68}}</string>
                <key>offset</key>
                <string>{-52,346}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{406,120},{84,68}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100700_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1},{86,68}}</string>
                <key>offset</key>
                <string>{-52,349}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,117},{86,68}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100700_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,1},{100,70}}</string>
                <key>offset</key>
                <string>{-47,342}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{403,123},{100,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100700_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,1},{84,68}}</string>
                <key>offset</key>
                <string>{-52,349}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{406,117},{84,68}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100700_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,1},{86,74}}</string>
                <key>offset</key>
                <string>{-53,349}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,114},{86,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{986,1044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c35d4722fd052617fe928b210ce617c:6ffc8d7e065a31df2f92e0fc3250d04b:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
