<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_105610_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{968,994}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,1},{968,994}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105610_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,971},{96,76}}</string>
                <key>offset</key>
                <string>{-6,334}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{446,128},{96,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105610_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,971},{100,78}}</string>
                <key>offset</key>
                <string>{-7,335}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,126},{100,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105610_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,971},{98,76}}</string>
                <key>offset</key>
                <string>{-7,334}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,128},{98,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105610_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,971},{96,72}}</string>
                <key>offset</key>
                <string>{-5,334}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{447,130},{96,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105610_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,971},{98,70}}</string>
                <key>offset</key>
                <string>{-6,333}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,132},{98,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105610_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,971},{96,76}}</string>
                <key>offset</key>
                <string>{-6,333}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{446,129},{96,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105610_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,971},{100,80}}</string>
                <key>offset</key>
                <string>{-8,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,124},{100,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105610_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,971},{98,70}}</string>
                <key>offset</key>
                <string>{-5,334}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{446,131},{98,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105610_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,971},{98,78}}</string>
                <key>offset</key>
                <string>{-6,335}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,126},{98,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105610_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,971},{98,80}}</string>
                <key>offset</key>
                <string>{-6,333}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,127},{98,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{998,1052}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa52de695ff3f21fa89d9844751cf1ed:454af5dec808d0cfc01ed8f108ce8ea9:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
