<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_108600_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{720,998}}</string>
                <key>offset</key>
                <string>{-139,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{720,998}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108600_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,723},{90,82}}</string>
                <key>offset</key>
                <string>{34,310}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{489,149},{90,82}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108600_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,723},{92,88}}</string>
                <key>offset</key>
                <string>{35,310}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{489,146},{92,88}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108600_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,723},{92,86}}</string>
                <key>offset</key>
                <string>{37,313}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{491,144},{92,86}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108600_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,723},{94,84}}</string>
                <key>offset</key>
                <string>{32,310}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{485,148},{94,84}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108600_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,723},{86,80}}</string>
                <key>offset</key>
                <string>{34,306}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{491,154},{86,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108600_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,723},{98,80}}</string>
                <key>offset</key>
                <string>{28,304}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,156},{98,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108600_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,723},{94,90}}</string>
                <key>offset</key>
                <string>{35,308}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{488,147},{94,90}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108600_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,723},{92,86}}</string>
                <key>offset</key>
                <string>{34,313}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{488,144},{92,86}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108600_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,723},{92,92}}</string>
                <key>offset</key>
                <string>{35,308}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{489,146},{92,92}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108600_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,723},{84,72}}</string>
                <key>offset</key>
                <string>{32,308}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{490,156},{84,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108600_face_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,723},{90,80}}</string>
                <key>offset</key>
                <string>{34,309}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{489,151},{90,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{1000,816}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:639b55b454e409b9a3ee668e69680a87:748aa555f741bfc379e296ec18b473e4:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
