<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_200130_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{602,998}}</string>
                <key>offset</key>
                <string>{-32,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,1},{602,998}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200130_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,605},{78,74}}</string>
                <key>offset</key>
                <string>{10,320}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{471,143},{78,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200130_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,605},{76,70}}</string>
                <key>offset</key>
                <string>{7,314}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{469,151},{76,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200130_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,605},{72,64}}</string>
                <key>offset</key>
                <string>{9,312}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{473,156},{72,64}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200130_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,605},{76,66}}</string>
                <key>offset</key>
                <string>{7,316}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{469,151},{76,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200130_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,605},{68,60}}</string>
                <key>offset</key>
                <string>{7,311}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,159},{68,60}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200130_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,605},{76,72}}</string>
                <key>offset</key>
                <string>{8,314}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{470,150},{76,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200130_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,605},{84,90}}</string>
                <key>offset</key>
                <string>{6,312}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{464,143},{84,90}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200130_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,605},{78,74}}</string>
                <key>offset</key>
                <string>{10,320}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{471,143},{78,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200130_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,605},{80,82}}</string>
                <key>offset</key>
                <string>{10,318}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,141},{80,82}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200130_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,667},{68,60}}</string>
                <key>offset</key>
                <string>{6,311}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,159},{68,60}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200130_face_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,605},{76,66}}</string>
                <key>offset</key>
                <string>{9,316}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{471,151},{76,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200130_face_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,605},{72,62}}</string>
                <key>offset</key>
                <string>{9,314}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{473,155},{72,62}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200130_face_01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,605},{78,74}}</string>
                <key>offset</key>
                <string>{10,320}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{471,143},{78,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200130_face_01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,605},{80,80}}</string>
                <key>offset</key>
                <string>{11,318}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,142},{80,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{1000,728}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07ae83e0cad56202badd205cea3848e1:58a8090e3aeeb3b3499c0cd5d2017b2a:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
