<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_108500_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,67},{614,972}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,17},{614,972}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108500_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1},{84,56}}</string>
                <key>offset</key>
                <string>{-1,317}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,155},{84,56}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108500_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,1},{84,64}}</string>
                <key>offset</key>
                <string>{-1,320}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,148},{84,64}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108500_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1},{84,56}}</string>
                <key>offset</key>
                <string>{-1,318}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,154},{84,56}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108500_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,1},{84,60}}</string>
                <key>offset</key>
                <string>{-1,316}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,154},{84,60}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108500_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{84,54}}</string>
                <key>offset</key>
                <string>{-1,317}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,156},{84,54}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108500_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,1},{84,62}}</string>
                <key>offset</key>
                <string>{-1,316}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,153},{84,62}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108500_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,1},{84,60}}</string>
                <key>offset</key>
                <string>{-1,319}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,151},{84,60}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108500_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,1},{86,54}}</string>
                <key>offset</key>
                <string>{-2,315}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{455,158},{86,54}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108500_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,1},{84,64}}</string>
                <key>offset</key>
                <string>{-1,317}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,151},{84,64}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108500_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,1},{84,58}}</string>
                <key>offset</key>
                <string>{-1,318}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,153},{84,58}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{974,682}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6d36437397b33992908716f89506b78:d56f724475bb68adae666b388dcce068:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
