<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_100200_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{604,988}}</string>
                <key>offset</key>
                <string>{40,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,0},{604,988}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100200_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,607},{82,102}}</string>
                <key>offset</key>
                <string>{-7,311}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{452,138},{82,102}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100200_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,607},{80,98}}</string>
                <key>offset</key>
                <string>{-9,304}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{451,147},{80,98}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100200_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,607},{76,86}}</string>
                <key>offset</key>
                <string>{-8,307}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{454,150},{76,86}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100200_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,607},{76,80}}</string>
                <key>offset</key>
                <string>{-6,312}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,148},{76,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100200_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,607},{76,78}}</string>
                <key>offset</key>
                <string>{-6,310}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,151},{76,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100200_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,607},{74,96}}</string>
                <key>offset</key>
                <string>{-7,312}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{456,140},{74,96}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100200_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,607},{82,86}}</string>
                <key>offset</key>
                <string>{-8,311}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{451,146},{82,86}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100200_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,607},{80,86}}</string>
                <key>offset</key>
                <string>{-9,308}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{451,149},{80,86}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100200_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,607},{80,100}}</string>
                <key>offset</key>
                <string>{-9,309}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{451,141},{80,100}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100200_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,607},{80,84}}</string>
                <key>offset</key>
                <string>{-9,316}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{451,142},{80,84}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{990,690}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e86ebef70e218ffbb991c4c5f40cfbc3:d40fb537c5fa98496f4fedfa98a9cb1c:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
