<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_109300_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{982,904}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,40},{982,904}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109300_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,907},{74,64}}</string>
                <key>offset</key>
                <string>{-13,239}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{450,229},{74,64}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109300_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,907},{74,64}}</string>
                <key>offset</key>
                <string>{-13,240}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{450,228},{74,64}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109300_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,907},{72,60}}</string>
                <key>offset</key>
                <string>{-13,237}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{451,233},{72,60}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109300_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,907},{94,62}}</string>
                <key>offset</key>
                <string>{-3,236}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,233},{94,62}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109300_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,907},{74,60}}</string>
                <key>offset</key>
                <string>{-13,237}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{450,233},{74,60}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109300_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,907},{76,64}}</string>
                <key>offset</key>
                <string>{-14,238}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,230},{76,64}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109300_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,907},{74,62}}</string>
                <key>offset</key>
                <string>{-13,237}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{450,232},{74,62}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109300_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,907},{74,58}}</string>
                <key>offset</key>
                <string>{-13,236}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{450,235},{74,58}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109300_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,907},{76,64}}</string>
                <key>offset</key>
                <string>{-14,239}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,229},{76,64}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109300_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,907},{76,66}}</string>
                <key>offset</key>
                <string>{-14,238}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,229},{76,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109300_face_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,907},{74,70}}</string>
                <key>offset</key>
                <string>{-13,237}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{450,228},{74,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109300_face_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,907},{74,68}}</string>
                <key>offset</key>
                <string>{-13,238}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{450,228},{74,68}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109300_face_01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,907},{74,60}}</string>
                <key>offset</key>
                <string>{-13,237}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{450,233},{74,60}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{984,982}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2fb03b4f0df2e302ca82f3130cafe06:c9773db88c70036a7829ed66850166e0:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
