<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_300110_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,553},{672,982}}</string>
                <key>offset</key>
                <string>{28,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,5},{672,982}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300110_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{220,182}}</string>
                <key>offset</key>
                <string>{1,409}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,0},{220,182}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300110_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1},{220,182}}</string>
                <key>offset</key>
                <string>{1,409}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,0},{220,182}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300110_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,1},{220,182}}</string>
                <key>offset</key>
                <string>{1,409}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,0},{220,182}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300110_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,185},{220,182}}</string>
                <key>offset</key>
                <string>{1,409}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,0},{220,182}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300110_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,185},{220,182}}</string>
                <key>offset</key>
                <string>{1,409}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,0},{220,182}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300110_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,185},{220,182}}</string>
                <key>offset</key>
                <string>{1,409}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,0},{220,182}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300110_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,369},{220,182}}</string>
                <key>offset</key>
                <string>{1,409}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,0},{220,182}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300110_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,369},{220,182}}</string>
                <key>offset</key>
                <string>{1,409}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,0},{220,182}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300110_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,369},{220,182}}</string>
                <key>offset</key>
                <string>{1,409}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,0},{220,182}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{674,1536}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d32505f18703cb7d822e3f9f197dfc3f:c4c47230a5351a3ea01762ca66664a4f:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
