<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_101600_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,89},{974,960}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,23},{974,960}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101600_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,1},{90,76}}</string>
                <key>offset</key>
                <string>{-115,288}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,174},{90,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101600_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,1},{86,86}}</string>
                <key>offset</key>
                <string>{-113,285}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{344,172},{86,86}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101600_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,1},{82,68}}</string>
                <key>offset</key>
                <string>{-113,281}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,185},{82,68}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101600_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,1},{104,84}}</string>
                <key>offset</key>
                <string>{-109,285}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{339,173},{104,84}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101600_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{86,62}}</string>
                <key>offset</key>
                <string>{-113,281}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{344,188},{86,62}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101600_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1},{86,78}}</string>
                <key>offset</key>
                <string>{-114,283}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{343,178},{86,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101600_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1},{88,72}}</string>
                <key>offset</key>
                <string>{-114,284}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{342,180},{88,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101600_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1},{90,70}}</string>
                <key>offset</key>
                <string>{-116,284}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{339,181},{90,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101600_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1},{90,84}}</string>
                <key>offset</key>
                <string>{-116,285}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{339,173},{90,84}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{976,1050}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f523b23fad194d7e8bafa080a9f76ad1:08f719f89cc958a19caeb5d59322a3a2:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
