<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_107200_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{814,990}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,3},{814,990}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_107200_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,817},{90,72}}</string>
                <key>offset</key>
                <string>{-49,345}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{406,119},{90,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_107200_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,817},{90,70}}</string>
                <key>offset</key>
                <string>{-49,343}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{406,122},{90,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_107200_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,817},{90,72}}</string>
                <key>offset</key>
                <string>{-48,345}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{407,119},{90,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_107200_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,817},{116,84}}</string>
                <key>offset</key>
                <string>{-34,338}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{408,120},{116,84}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_107200_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,817},{90,72}}</string>
                <key>offset</key>
                <string>{-48,345}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{407,119},{90,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_107200_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,817},{88,70}}</string>
                <key>offset</key>
                <string>{-47,339}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{409,126},{88,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_107200_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,817},{92,76}}</string>
                <key>offset</key>
                <string>{-48,342}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{406,120},{92,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_107200_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,817},{88,68}}</string>
                <key>offset</key>
                <string>{-48,343}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{408,123},{88,68}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_107200_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,817},{88,78}}</string>
                <key>offset</key>
                <string>{-48,344}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{408,117},{88,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_107200_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,817},{90,80}}</string>
                <key>offset</key>
                <string>{-48,341}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{407,119},{90,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_107200_face_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,817},{98,82}}</string>
                <key>offset</key>
                <string>{-43,342}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{408,117},{98,82}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{994,906}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f03439e5420828ad8f5983303ecf5df1:210fb857dcd35d46a7d6bc7ae5f3c23a:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
