<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_210_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{718,994}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,3},{718,994}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_210_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,377},{170,176}}</string>
                <key>offset</key>
                <string>{-10,334}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,78},{170,176}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_210_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,195},{170,180}}</string>
                <key>offset</key>
                <string>{-10,333}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,77},{170,180}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_210_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,195},{164,174}}</string>
                <key>offset</key>
                <string>{-7,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{411,77},{164,174}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_210_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,1},{182,192}}</string>
                <key>offset</key>
                <string>{-16,327}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,77},{182,192}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_210_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,731},{168,172}}</string>
                <key>offset</key>
                <string>{-9,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{407,78},{168,172}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_210_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,731},{168,174}}</string>
                <key>offset</key>
                <string>{-9,335}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{407,78},{168,174}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_210_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,555},{170,174}}</string>
                <key>offset</key>
                <string>{-10,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,77},{170,174}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{1060,996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e97bdb38da913f9c31afbd3c9214056c:649caf897b668d676e68e2635e4d5d5a:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
