<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_100800_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,95},{912,998}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{912,998}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100800_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,1},{92,78}}</string>
                <key>offset</key>
                <string>{194,270}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{648,191},{92,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100800_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,1},{104,92}}</string>
                <key>offset</key>
                <string>{197,276}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{645,178},{104,92}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100800_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{94,70}}</string>
                <key>offset</key>
                <string>{193,267}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{646,198},{94,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100800_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,1},{100,74}}</string>
                <key>offset</key>
                <string>{191,264}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{641,199},{100,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100800_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,1},{98,76}}</string>
                <key>offset</key>
                <string>{194,270}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{645,192},{98,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100800_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1},{92,80}}</string>
                <key>offset</key>
                <string>{193,270}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{647,190},{92,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100800_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,1},{96,78}}</string>
                <key>offset</key>
                <string>{195,272}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{647,189},{96,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100800_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,1},{96,80}}</string>
                <key>offset</key>
                <string>{196,272}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{648,188},{96,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100800_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1},{92,76}}</string>
                <key>offset</key>
                <string>{194,271}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{648,191},{92,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{1000,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efc32a78692579bd924be8219202570f:2277d79068995a8eaac46ebc99a23097:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
