<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_200120_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{506,994}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,3},{506,994}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200120_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1087},{88,74}}</string>
                <key>offset</key>
                <string>{-31,313}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{425,150},{88,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200120_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,997},{88,66}}</string>
                <key>offset</key>
                <string>{-30,308}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{426,159},{88,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200120_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,997},{84,66}}</string>
                <key>offset</key>
                <string>{-29,310}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{429,157},{84,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200120_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,1087},{88,70}}</string>
                <key>offset</key>
                <string>{-30,308}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{426,157},{88,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200120_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,997},{114,66}}</string>
                <key>offset</key>
                <string>{-14,309}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{429,158},{114,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200120_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,1087},{86,72}}</string>
                <key>offset</key>
                <string>{-31,305}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{426,159},{86,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200120_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,997},{96,78}}</string>
                <key>offset</key>
                <string>{-29,310}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{423,151},{96,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200120_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,997},{86,68}}</string>
                <key>offset</key>
                <string>{-33,309}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{424,157},{86,68}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200120_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1095},{88,84}}</string>
                <key>offset</key>
                <string>{-31,312}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,146},{88,84}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200120_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1113},{114,66}}</string>
                <key>offset</key>
                <string>{-14,309}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,158},{114,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200120_face_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,997},{88,72}}</string>
                <key>offset</key>
                <string>{-31,313}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{425,151},{88,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200120_face_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,997},{88,78}}</string>
                <key>offset</key>
                <string>{-31,314}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{425,147},{88,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{508,1180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:954b94dd9da9848ee70a82b2b74b9bc7:b6603eaf2eddaae45c303c0e5d05b6f8:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
