<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_105400_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,81},{736,978}}</string>
                <key>offset</key>
                <string>{-19,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,13},{736,978}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105400_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1},{86,78}}</string>
                <key>offset</key>
                <string>{-15,347}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,114},{86,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105400_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1},{84,74}}</string>
                <key>offset</key>
                <string>{-14,345}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,118},{84,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105400_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{78,70}}</string>
                <key>offset</key>
                <string>{-11,343}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,122},{78,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105400_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1},{84,76}}</string>
                <key>offset</key>
                <string>{-14,346}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,116},{84,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105400_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1},{84,72}}</string>
                <key>offset</key>
                <string>{-14,344}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,120},{84,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_105400_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1},{80,76}}</string>
                <key>offset</key>
                <string>{-12,342}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,120},{80,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{980,818}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ae19572b1fc7e1dca4644a43bbf46b5:12237339814833efdfca04fc96749e17:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
