<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_102500_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{370,918}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{330,41},{370,918}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_102500_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,373},{116,92}}</string>
                <key>offset</key>
                <string>{-11,301}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{431,153},{116,92}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_102500_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,373},{116,106}}</string>
                <key>offset</key>
                <string>{-11,296}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{431,151},{116,106}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_102500_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,1},{110,88}}</string>
                <key>offset</key>
                <string>{-10,300}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{435,156},{110,88}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_102500_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,373},{144,106}}</string>
                <key>offset</key>
                <string>{-3,286}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,161},{144,106}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_102500_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,373},{114,92}}</string>
                <key>offset</key>
                <string>{-10,298}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,156},{114,92}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_102500_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,373},{108,94}}</string>
                <key>offset</key>
                <string>{-8,293}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,160},{108,94}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_102500_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,373},{116,100}}</string>
                <key>offset</key>
                <string>{-11,296}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{431,154},{116,100}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_102500_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,373},{120,92}}</string>
                <key>offset</key>
                <string>{-14,299}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,155},{120,92}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_102500_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,373},{118,104}}</string>
                <key>offset</key>
                <string>{-12,298}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,150},{118,104}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{1010,480}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95b4848800ad36cf1ce9fb8928eb9346:50ba8f4df3cfc3efa67ffbc676d59cda:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
