<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_109900_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,77},{872,1000}}</string>
                <key>offset</key>
                <string>{50,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,0},{872,1000}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109900_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,1},{82,68}}</string>
                <key>offset</key>
                <string>{-2,314}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,152},{82,68}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109900_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1},{80,64}}</string>
                <key>offset</key>
                <string>{-2,313}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,155},{80,64}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109900_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,1},{80,70}}</string>
                <key>offset</key>
                <string>{-1,312}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{459,153},{80,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109900_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1},{84,64}}</string>
                <key>offset</key>
                <string>{-1,312}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,156},{84,64}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109900_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{80,62}}</string>
                <key>offset</key>
                <string>{-2,311}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,158},{80,62}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109900_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,1},{80,72}}</string>
                <key>offset</key>
                <string>{-1,311}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{459,153},{80,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109900_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,1},{82,64}}</string>
                <key>offset</key>
                <string>{-2,311}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,157},{82,64}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109900_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,1},{80,64}}</string>
                <key>offset</key>
                <string>{-2,312}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,156},{80,64}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109900_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,1},{82,74}}</string>
                <key>offset</key>
                <string>{-2,311}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,152},{82,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109900_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,1},{78,62}}</string>
                <key>offset</key>
                <string>{-2,311}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{459,158},{78,62}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_109900_face_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,1},{82,72}}</string>
                <key>offset</key>
                <string>{-2,311}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,153},{82,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{1002,950}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aee507c351329bc898b2fb44b5e00230:e94c25b3049e9e001e80ba70f7f8a760:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
