<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_100510_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,73},{842,1000}}</string>
                <key>offset</key>
                <string>{-59,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{842,1000}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100510_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1},{86,66}}</string>
                <key>offset</key>
                <string>{2,345}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{459,122},{86,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100510_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{88,62}}</string>
                <key>offset</key>
                <string>{2,344}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,125},{88,62}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100510_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1},{78,66}}</string>
                <key>offset</key>
                <string>{2,345}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{463,122},{78,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100510_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,1},{96,68}}</string>
                <key>offset</key>
                <string>{-2,342}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,124},{96,68}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100510_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1},{86,64}}</string>
                <key>offset</key>
                <string>{2,346}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{459,122},{86,64}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100510_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1},{78,64}}</string>
                <key>offset</key>
                <string>{3,345}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{464,123},{78,64}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100510_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,1},{88,70}}</string>
                <key>offset</key>
                <string>{2,346}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,119},{88,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100510_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,1},{80,66}}</string>
                <key>offset</key>
                <string>{3,346}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{463,121},{80,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100510_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,1},{88,68}}</string>
                <key>offset</key>
                <string>{2,346}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,120},{88,68}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100510_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1},{90,64}}</string>
                <key>offset</key>
                <string>{-5,340}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,128},{90,64}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{1002,916}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40cd470273f72d7859976130f62d8fe5:185208a70fcff1a365519af5d54fc50f:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
