<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_104900_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{708,994}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,3},{708,994}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_104900_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,711},{112,88}}</string>
                <key>offset</key>
                <string>{-25,296}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,160},{112,88}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_104900_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,711},{112,82}}</string>
                <key>offset</key>
                <string>{-25,293}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,166},{112,82}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_104900_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,711},{106,80}}</string>
                <key>offset</key>
                <string>{-26,293}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,167},{106,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_104900_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,711},{118,92}}</string>
                <key>offset</key>
                <string>{-23,298}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,156},{118,92}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_104900_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,711},{112,88}}</string>
                <key>offset</key>
                <string>{-25,296}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,160},{112,88}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_104900_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,711},{114,90}}</string>
                <key>offset</key>
                <string>{-26,297}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,158},{114,90}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_104900_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,711},{112,88}}</string>
                <key>offset</key>
                <string>{-25,296}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,160},{112,88}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_104900_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,711},{92,70}}</string>
                <key>offset</key>
                <string>{-34,297}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{420,168},{92,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_104900_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,711},{112,92}}</string>
                <key>offset</key>
                <string>{-25,298}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,156},{112,92}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{996,804}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8649dbcebda57a0b818d508a52d968b:797cf6afede950ed1aa81f51b0aa7525:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
