<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_110000_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{738,972}}</string>
                <key>offset</key>
                <string>{17,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,9},{738,972}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_110000_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,741},{108,82}}</string>
                <key>offset</key>
                <string>{-13,300}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,159},{108,82}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_110000_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,741},{104,78}}</string>
                <key>offset</key>
                <string>{-15,301}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{433,160},{104,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_110000_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,741},{110,84}}</string>
                <key>offset</key>
                <string>{-21,299}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,159},{110,84}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_110000_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,741},{110,84}}</string>
                <key>offset</key>
                <string>{-13,300}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,158},{110,84}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_110000_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,741},{100,82}}</string>
                <key>offset</key>
                <string>{-12,300}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{438,159},{100,82}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_110000_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,741},{98,82}}</string>
                <key>offset</key>
                <string>{-19,298}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{432,161},{98,82}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_110000_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,741},{108,88}}</string>
                <key>offset</key>
                <string>{-12,295}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,161},{108,88}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_110000_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,741},{102,78}}</string>
                <key>offset</key>
                <string>{-16,299}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{433,162},{102,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_110000_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,741},{108,88}}</string>
                <key>offset</key>
                <string>{-14,300}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,156},{108,88}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_110000_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,741},{100,82}}</string>
                <key>offset</key>
                <string>{-12,300}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{438,159},{100,82}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{974,846}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b33f750ac161d908ccb98a396ab94a6:361b2b4fa63c9b3dff0ffa82bdae6a0e:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
