<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_100100_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{338,978}}</string>
                <key>offset</key>
                <string>{-21,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{310,0},{338,978}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100100_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,341},{80,82}}</string>
                <key>offset</key>
                <string>{-3,341}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{457,118},{80,82}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100100_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,341},{82,74}}</string>
                <key>offset</key>
                <string>{-2,343}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,120},{82,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100100_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,341},{76,70}}</string>
                <key>offset</key>
                <string>{-1,340}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{461,125},{76,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100100_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,341},{82,74}}</string>
                <key>offset</key>
                <string>{-3,342}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,121},{82,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100100_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,341},{82,76}}</string>
                <key>offset</key>
                <string>{-3,341}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,121},{82,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100100_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,341},{76,70}}</string>
                <key>offset</key>
                <string>{-3,341}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{459,124},{76,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100100_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,341},{76,82}}</string>
                <key>offset</key>
                <string>{-2,341}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{460,118},{76,82}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100100_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,341},{74,68}}</string>
                <key>offset</key>
                <string>{-4,339}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{459,127},{74,68}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100100_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,341},{76,82}}</string>
                <key>offset</key>
                <string>{-2,341}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{460,118},{76,82}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{980,422}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76e2d08035081a9a07617cff54ab87fa:aa2c5f9502748b21c7ed9db0932f1943:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
