<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_108200_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{628,980}}</string>
                <key>offset</key>
                <string>{25,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,0},{628,980}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108200_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,631},{104,86}}</string>
                <key>offset</key>
                <string>{-23,286}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,171},{104,86}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108200_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,631},{104,88}}</string>
                <key>offset</key>
                <string>{-23,287}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,169},{104,88}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108200_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,721},{104,78}}</string>
                <key>offset</key>
                <string>{-23,282}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,179},{104,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108200_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,719},{104,86}}</string>
                <key>offset</key>
                <string>{-23,286}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,171},{104,86}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108200_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,631},{104,86}}</string>
                <key>offset</key>
                <string>{-23,287}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,170},{104,86}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108200_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,631},{104,88}}</string>
                <key>offset</key>
                <string>{-23,287}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,169},{104,88}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108200_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,631},{104,88}}</string>
                <key>offset</key>
                <string>{-23,287}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,169},{104,88}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108200_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,631},{106,88}}</string>
                <key>offset</key>
                <string>{-24,287}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,169},{106,88}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108200_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,631},{104,90}}</string>
                <key>offset</key>
                <string>{-23,285}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,170},{104,90}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108200_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,719},{104,86}}</string>
                <key>offset</key>
                <string>{-23,287}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,170},{104,86}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108200_face_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,631},{104,88}}</string>
                <key>offset</key>
                <string>{-23,287}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,169},{104,88}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_108200_face_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,631},{104,88}}</string>
                <key>offset</key>
                <string>{-23,287}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,169},{104,88}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{982,806}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fa5fdf9c02fad4460f378c48198cb05:f362b63f8894e21ccc8eac9e13babb7c:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
