<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_400300_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,83},{534,998}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,0},{534,998}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_400300_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,1},{86,72}}</string>
                <key>offset</key>
                <string>{-30,334}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,130},{86,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_400300_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1},{86,74}}</string>
                <key>offset</key>
                <string>{-29,333}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,130},{86,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_400300_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1},{86,76}}</string>
                <key>offset</key>
                <string>{-26,335}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{431,127},{86,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_400300_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1},{100,70}}</string>
                <key>offset</key>
                <string>{-33,333}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,132},{100,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_400300_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{88,68}}</string>
                <key>offset</key>
                <string>{-29,333}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,133},{88,68}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_400300_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1},{88,70}}</string>
                <key>offset</key>
                <string>{-27,330}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,135},{88,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_400300_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1},{86,76}}</string>
                <key>offset</key>
                <string>{-28,333}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,129},{86,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_400300_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1},{90,76}}</string>
                <key>offset</key>
                <string>{-28,335}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,127},{90,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_400300_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,1},{86,80}}</string>
                <key>offset</key>
                <string>{-28,335}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,125},{86,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_400300_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,1},{88,72}}</string>
                <key>offset</key>
                <string>{-29,334}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,130},{88,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{1000,618}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:047147bdd65599ad4556e80031323eed:57ffa953a527cd3a1f20eaa890822397:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
