<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_200800_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{584,894}}</string>
                <key>offset</key>
                <string>{-50,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,49},{584,894}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200800_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,587},{92,78}}</string>
                <key>offset</key>
                <string>{-11,288}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,173},{92,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200800_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,587},{92,72}}</string>
                <key>offset</key>
                <string>{-11,287}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,177},{92,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200800_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,587},{82,66}}</string>
                <key>offset</key>
                <string>{-8,284}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{451,183},{82,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200800_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,587},{88,72}}</string>
                <key>offset</key>
                <string>{-6,283}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,181},{88,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200800_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,587},{90,66}}</string>
                <key>offset</key>
                <string>{-10,284}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,183},{90,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200800_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,587},{82,72}}</string>
                <key>offset</key>
                <string>{-8,283}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{451,181},{82,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200800_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,587},{90,80}}</string>
                <key>offset</key>
                <string>{-10,289}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,171},{90,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200800_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,587},{88,68}}</string>
                <key>offset</key>
                <string>{-10,284}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{446,182},{88,68}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200800_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,587},{90,84}}</string>
                <key>offset</key>
                <string>{-10,288}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,170},{90,84}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200800_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,587},{90,70}}</string>
                <key>offset</key>
                <string>{-10,283}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,182},{90,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{896,672}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47ca0a4b5c7e8607d61fed4c611b649f:343ddff6275719026c59378280682d14:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
