<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_100_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{588,978}}</string>
                <key>offset</key>
                <string>{36,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,13},{588,978}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,591},{114,104}}</string>
                <key>offset</key>
                <string>{-16,274}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{427,174},{114,104}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,687},{104,94}}</string>
                <key>offset</key>
                <string>{-11,269}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{437,184},{104,94}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,707},{100,82}}</string>
                <key>offset</key>
                <string>{-11,266}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,193},{100,82}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,591},{106,94}}</string>
                <key>offset</key>
                <string>{-11,269}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,184},{106,94}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,707},{102,78}}</string>
                <key>offset</key>
                <string>{-12,268}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,193},{102,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,687},{102,94}}</string>
                <key>offset</key>
                <string>{-12,268}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{437,185},{102,94}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,701},{116,90}}</string>
                <key>offset</key>
                <string>{-9,271}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,184},{116,90}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,691},{112,90}}</string>
                <key>offset</key>
                <string>{-11,267}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,188},{112,90}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,591},{108,108}}</string>
                <key>offset</key>
                <string>{-13,274}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,172},{108,108}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,591},{114,106}}</string>
                <key>offset</key>
                <string>{-16,274}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{427,173},{114,106}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100_face_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,591},{118,98}}</string>
                <key>offset</key>
                <string>{-13,271}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,180},{118,98}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100_face_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,591},{104,92}}</string>
                <key>offset</key>
                <string>{-11,268}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,186},{104,92}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100_face_01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,591},{104,88}}</string>
                <key>offset</key>
                <string>{-13,266}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{435,190},{104,88}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100_face_01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,691},{108,98}}</string>
                <key>offset</key>
                <string>{-13,276}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,175},{108,98}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100_face_01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,591},{104,96}}</string>
                <key>offset</key>
                <string>{-11,270}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,182},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100_face_01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,689},{108,102}}</string>
                <key>offset</key>
                <string>{-13,273}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,176},{108,102}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100_face_01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,685},{106,90}}</string>
                <key>offset</key>
                <string>{-11,267}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{436,188},{106,90}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_100_face_01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,591},{104,96}}</string>
                <key>offset</key>
                <string>{-11,268}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,184},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{980,792}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd1f7f2420262e5f449b598bee142be1:35939e2fa70762e848b84c22b92ee790:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
