<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_103810_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{984,994}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{984,994}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_103810_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,997},{108,82}}</string>
                <key>offset</key>
                <string>{50,307}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{496,152},{108,82}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_103810_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,997},{108,76}}</string>
                <key>offset</key>
                <string>{50,304}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{496,158},{108,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_103810_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,997},{96,78}}</string>
                <key>offset</key>
                <string>{54,305}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{506,156},{96,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_103810_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,997},{114,86}}</string>
                <key>offset</key>
                <string>{52,301}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{495,156},{114,86}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_103810_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,997},{108,78}}</string>
                <key>offset</key>
                <string>{50,306}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{496,155},{108,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_103810_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,997},{94,80}}</string>
                <key>offset</key>
                <string>{54,304}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{507,156},{94,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_103810_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,997},{108,82}}</string>
                <key>offset</key>
                <string>{50,303}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{496,156},{108,82}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_103810_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,997},{108,78}}</string>
                <key>offset</key>
                <string>{52,301}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{498,160},{108,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_103810_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,997},{108,86}}</string>
                <key>offset</key>
                <string>{50,305}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{496,152},{108,86}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_103810_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,997},{96,78}}</string>
                <key>offset</key>
                <string>{54,306}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{506,155},{96,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_103810_face_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,997},{96,78}}</string>
                <key>offset</key>
                <string>{54,306}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{506,155},{96,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{986,1106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f1c57f633789acc5d6e97a907d8d178:be25939fe1c6dff8b03435f2ed4431eb:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
