<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_300700_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{830,970}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,30},{830,970}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300700_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,823},{112,72}}</string>
                <key>offset</key>
                <string>{-1,198}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{443,266},{112,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300700_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,81},{108,68}}</string>
                <key>offset</key>
                <string>{2,197}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,269},{108,68}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300700_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,389},{100,80}}</string>
                <key>offset</key>
                <string>{0,201}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,259},{100,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300700_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,471},{122,86}}</string>
                <key>offset</key>
                <string>{1,191}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{440,266},{122,86}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300700_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,595},{112,76}}</string>
                <key>offset</key>
                <string>{-2,199}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{442,263},{112,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300700_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,1},{108,78}}</string>
                <key>offset</key>
                <string>{2,194}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,267},{108,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300700_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,311},{104,76}}</string>
                <key>offset</key>
                <string>{2,199}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,263},{104,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300700_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,151},{106,78}}</string>
                <key>offset</key>
                <string>{0,200}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{447,261},{106,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300700_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,231},{106,78}}</string>
                <key>offset</key>
                <string>{1,200}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,261},{106,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_300700_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,709},{112,76}}</string>
                <key>offset</key>
                <string>{-2,199}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{442,263},{112,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{942,972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0927e5b4ef3e741453ebd0572975506:ad5577614c03cc2df9568b73d3c0a8ac:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
