<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_102000_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{976,1000}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{976,1000}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_102000_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,979},{80,78}}</string>
                <key>offset</key>
                <string>{26,301}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{486,160},{80,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_102000_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,979},{82,80}}</string>
                <key>offset</key>
                <string>{25,301}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{484,159},{82,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_102000_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,979},{78,70}}</string>
                <key>offset</key>
                <string>{29,296}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{490,169},{78,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_102000_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,979},{90,80}}</string>
                <key>offset</key>
                <string>{35,291}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{490,169},{90,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_102000_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,979},{82,80}}</string>
                <key>offset</key>
                <string>{25,302}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{484,158},{82,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_102000_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,979},{78,72}}</string>
                <key>offset</key>
                <string>{29,295}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{490,169},{78,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_102000_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,979},{82,78}}</string>
                <key>offset</key>
                <string>{26,300}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{485,161},{82,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_102000_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,979},{84,80}}</string>
                <key>offset</key>
                <string>{24,301}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,159},{84,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_102000_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,979},{78,80}}</string>
                <key>offset</key>
                <string>{27,301}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{488,159},{78,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{1002,1060}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d57a4e54e19c69476b689a8d9206ffa0:3d223ce5e37f536c3a70d8a41a10dec7:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
