<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_200110_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,83},{592,990}}</string>
                <key>offset</key>
                <string>{-14,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,3},{592,990}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200110_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,1},{78,76}}</string>
                <key>offset</key>
                <string>{11,324}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,138},{78,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200110_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,1},{80,74}}</string>
                <key>offset</key>
                <string>{11,322}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,141},{80,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200110_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1},{74,70}}</string>
                <key>offset</key>
                <string>{10,319}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,146},{74,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200110_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,1},{78,76}}</string>
                <key>offset</key>
                <string>{9,322}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,140},{78,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200110_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{74,64}}</string>
                <key>offset</key>
                <string>{6,316}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,152},{74,64}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200110_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1},{74,76}}</string>
                <key>offset</key>
                <string>{10,317}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{473,145},{74,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200110_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,1},{78,80}}</string>
                <key>offset</key>
                <string>{10,322}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{471,138},{78,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200110_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1},{74,66}}</string>
                <key>offset</key>
                <string>{10,317}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,150},{74,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200110_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,1},{80,84}}</string>
                <key>offset</key>
                <string>{10,322}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{470,136},{80,84}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200110_face_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,1},{70,64}}</string>
                <key>offset</key>
                <string>{8,316}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,152},{70,64}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200110_face_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1},{74,74}}</string>
                <key>offset</key>
                <string>{10,318}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,145},{74,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_200110_face_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,1},{78,78}}</string>
                <key>offset</key>
                <string>{11,323}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,138},{78,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{992,676}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2cfc2b7c089f42aa429c94223e464f9:946851669172d5b6456e23063337cbec:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
