<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chara_101200_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,83},{682,922}}</string>
                <key>offset</key>
                <string>{13,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,25},{682,922}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101200_face_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,1},{106,78}}</string>
                <key>offset</key>
                <string>{-2,324}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,137},{106,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101200_face_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,1},{94,76}}</string>
                <key>offset</key>
                <string>{-6,322}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{447,140},{94,76}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101200_face_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{90,66}}</string>
                <key>offset</key>
                <string>{-7,321}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,146},{90,66}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101200_face_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,1},{114,78}}</string>
                <key>offset</key>
                <string>{-3,321}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,140},{114,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101200_face_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1},{106,74}}</string>
                <key>offset</key>
                <string>{-2,322}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,141},{106,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101200_face_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,1},{106,80}}</string>
                <key>offset</key>
                <string>{-2,324}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,136},{106,80}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101200_face_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1},{106,74}}</string>
                <key>offset</key>
                <string>{-2,322}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,141},{106,74}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101200_face_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,1},{96,70}}</string>
                <key>offset</key>
                <string>{-6,324}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{446,141},{96,70}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>chara_101200_face_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,1},{96,78}}</string>
                <key>offset</key>
                <string>{-6,325}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{446,136},{96,78}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adv_face_pattern.png</string>
            <key>size</key>
            <string>{932,766}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4408808876616e19741b9d2d82a9b99f:45f90221641773e3e900688e33184622:6068666fc0e75be7b73e2a8b938a163e$</string>
            <key>textureFileName</key>
            <string>adv_face_pattern.png</string>
        </dict>
    </dict>
</plist>
